{% if articles %}
	<div class="featured-articles" style="margin: 3rem 0;">
  	<h2>{{ title }}</h2>
  	<div class="row">
    	<div class="swiper swiper-carousel">
      	<div class="swiper-wrapper" style="height: 100%;">
    			{% for article in articles %}
        		<div class="swiper-slide article-cart">

						<script type="application/ld+json">
						{
  						"@context": "https://schema.org",
  						"@type": "Article",
  						"headline": "{{ article.name }}",
  						"image": "{{ article.thumb }}",
  						"datePublished": "{{ article.date_added|date('Y-m-d') }}",
  						"author": {
    						"@type": "Organization",
    						"name": "Климат под ключ"
  						}
						}
						</script>
    					<a href="{{ article.href }}">
    						<div class="article-cart-top">
    							<div class="article-cart-image">
    								<img src="{{ article.thumb }}" alt="story-image" loading="lazy">
    							</div>
    						</div>
    						<div class="article-cart-text">
    							{{ article.name }}
    						</div>
    					</a>
    				</div>
    			{% endfor %}
    		</div>
    	</div>
  	</div>
  </div>
{% endif %}

