{{ header }}

<div class="container-fluid" {% block container_schema %} {% endblock %}>
  {% block microdata %}{% endblock %}


  
  <div class="row blog blog-{% block class %}{% endblock %}">{{ column_left }}

    <div id="content" class="">{{ content_top }}
      {% include 'revolution/template/product/partials/breadcrumb.twig' %}
      <h1>{{ heading_title }}</h1>
      {% block content %}{% endblock %}
      {{ content_bottom }}
    </div>

    {{ column_right }}

  </div>
    {% block after_content %}{% endblock %}
</div>

{% block script %}{% endblock %}
{{ footer }}
