{% extends 'default/template/blog/base.twig' %}

{% block class %}category{% endblock %}
{% block content %}
	{% set is_blog = category_type == 'blog' %}

	{% if thumb or description %}
		<div class="row">
		{#}
			{% if thumb %}
				<div class="col-sm-2"><img src="{{ thumb }}" alt="{{ heading_title }}" title="{{ heading_title }}" class="img-thumbnail" /></div>
			{% endif %}
		{#}
			{% if description %}
				<div class="col-sm-10">{{ description }}</div>
		{% endif %}
		</div>

	{% endif %}

	{% if categories %}
		<div class="blog__category-wrapper">
			{% for category in categories %} 
				<div class="blog__category-tile">
          <div class="blog__category-content">
          	<div class="blog__category-info">
							<h4><a href="{{ category.href }}">{{ category.name }}</a></h4>
          	</div>
          </div>
				</div>
			{% endfor %}
		</div">
	{% endif %}

	{% if articles and not is_blog %}
		<div class="blog__articles-wrapper">  
			{% for article in articles %} 
				<div class="blog__article-tile">
          <div class="blog__article-content">
          	<div class="blog__article-info">
							<h4><a href="{{ article.href }}">{{ article.name }}</a></h4>
          	</div>
          </div>

					{% if article.thumb %}
          	<div class="blog__article-image">
							<img src="{{ article.thumb }}" alt="{{ article.name }}" title="{{ article.name }}" class="img-responsive" />
          	</div>
					{% endif %}
      	</div>
			{% endfor %}
		</div>
		<div class="row">
			<div class="col-sm-6 text-left">{{ pagination }}</div>
		</div>
	{% elseif articles and is_blog %}
	{#}
  	{% include 'revolution/template/product/partials/sort_line.twig' %}
	{#}
		<div class="posts-list">  
			{% for article in articles %} 
				<div class="post-item">
					<div class="image">
						<a href="{{ article.href }}">
							{% if article.thumb %}
								<img src="{{ article.thumb }}" alt="{{ article.name }}" title="{{ article.name }}" class="img-responsive" />
							{% endif %}
						</a>
					</div>
					<div class="title">
						<a href="{{ article.href }}">{{ article.name }}</a>
					</div>
					{#}
					<div class="caption">
						<p class="description">{{ article['description'] }}</p>
						{% if configblog_review_status %}
							{% if article.rating %}
								<div class="rating">
									{% for i in 1..5 %}
										{% if article.rating < i %} <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> {% else %} <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>{% endif %}
									{% endfor %}
								</div>
							{% endif %}
						{% endif %}
					</div>
					<div class="button-group">
						<button type="button" onclick="location.href = ('{{ article.href }}');"><i class="fa fa-share"></i> <span class="hidden-xs hidden-sm hidden-md">{{ button_more }}</span></button>
						<button type="button" data-toggle="tooltip" title="{{ article.date_added }}" "><i class="fa fa-clock-o"></i></button>
						<button type="button" data-toggle="tooltip" title="{{ text_views }} {{ article.viewed }}" "><i class="fa fa-eye"></i></button>
					</div>
					{#}
				</div>
			{% endfor %}
		</div>
		<div class="row">
			<div class="col-sm-6 text-left">{{ pagination }}</div>
		</div>
	{% elseif not categories %}
		<p>{{ text_empty }}</p>
	{% endif %}
{% endblock %}
