<!DOCTYPE html>
<html dir="ltr" lang="ru" class="{{ class }} {{ opacity_cont_class }}">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{ title }}</title>
<base href="{{ base }}" />
{% if (description) %} 
<meta name="description" content="{{ description }}" />
{% endif %} 
{% if (keywords) %} 
<meta name="keywords" content= "{{ keywords }}" />
{% endif %} 
<meta property="og:title" content="{{ title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ og_url }}" />
<meta property="og:image" content="{{ og_image is not empty ? og_image : logo }}" />
<meta property="og:site_name" content="{{ name }}" />
{% if (not setting_all_settings['minif_on']) %} 
	<link href="catalog/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />
	<link href="catalog/view/javascript/revolution/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
	<link href="catalog/view/theme/revolution/stylesheet/stylesheet.css" rel="stylesheet">
	{% if (setting_all_settings['n_progres']) %} 
	<link href="catalog/view/javascript/revolution/nprogress.css" rel="stylesheet">
	{% endif %} 
	<link href="catalog/view/javascript/revolution/jasny-bootstrap.min.css" rel="stylesheet">
	<link href="catalog/view/javascript/revolution/magnific-popup.css" rel="stylesheet" media="screen" />
	<link href="catalog/view/javascript/revolution/owl-carousel/owl.carousel.css" type="text/css" rel="stylesheet" media="screen">

	<link href="catalog/view/theme/revolution/stylesheet/stylesheet_my.css" rel="stylesheet">
	<link href="catalog/view/theme/revolution/css/styles.css" rel="stylesheet">
{% else %} 
	<link href="catalog/view/theme/revolution/stylesheet/stylesheet_min.css" rel="stylesheet">
{% endif %} 

  <!-- Font Awesome 6 -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
{% for style in styles %} 
<link href="{{ style['href'] }}" type="text/css" rel="{{ style['rel'] }}" media="{{ style['media'] }}" />
{% endfor %} 
<script src="catalog/view/javascript/jquery/jquery-2.1.1.min.js"></script>
<script src="catalog/view/javascript/jquery/owl-carousel/owl.carousel.min.js"></script>
{% for link in links %} 
<link href="{{ link['href'] }}" rel="{{ link['rel'] }}" />
{% endfor %} 
{% for script in scripts %} 
<script src="{{ script }}"></script>
{% endfor %} 
<script>function max_height_div(div){var maxheight = 0;$(div).each(function(){$(this).removeAttr('style');if($(this).height() > maxheight){maxheight = $(this).height();{{ '}}' }});$(div).height(maxheight);}</script>
{% for analytic in analytics %} 
{{ analytic }} 
{% endfor %} 
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(62868895, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true,
        ecommerce:"dataLayer"
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/62868895" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</head>
<body>
<div class="all_content_mmenu">
  {% include 'revolution/template/common/header/mobil_menu.twig' %}
  {% include 'revolution/template/common/header/microdata.twig' %}


{#}
{% if (not setting_all_settings['all_document_width'] and not setting_all_settings['all_document_h_f_width']) %} 
<div id="all_document">
{% endif %} 
{#}

<header>
  {% include 'revolution/template/common/header/top.twig' %}
  {% include 'revolution/template/common/header/top2.twig' %}
  {% include 'revolution/template/common/header/top3.twig' %}
</header>
{#}
{% if (not setting_all_settings['all_document_width'] and setting_all_settings['all_document_h_f_width']) %} 
<div id="all_document">
{% endif %} 
{#}
<section class="main-content">
