<div style="margin: 3rem 0;">
	<div class="heading_h"><h3>{{ title }}</h3>{% if (button_all) %}<a href="{{ keyword }}">{{ button_all_text }}</a>{% endif %}</div>

  <div class="row">
    <div class="swiper swiper-carousel">
      <div class="swiper-wrapper" style="height: 100%;">
			{% for review in reviews %} 
        <div class="swiper-slide col-3">
					<div class="review-layout">
						<div class="review-list vertical-sreview transition">
							<div class="caption review-caption">
								<div class="author">{{ review['author'] }}<span> / {{ review['date_added'] }}</span></div>
								<div class="rating">
									{% set i = 1 %}{% for i in i..5 %} 
										{% if (review['rating'] < i) %} 
											<span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
										{% else %} 
											<span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
										{% endif %} 
									{% endfor %} 
								</div>
								<div class="text2">{{ review['text'] }}</div>
							</div>
						</div>
					</div>

        </div>
        {% endfor %} 
      </div>
    </div>
  </div>
</div>
