{% extends 'revolution/template/product/partials/base.twig' %}

{% block container_schema %} itemtype="http://schema.org/NewsArticle" itemscope {% endblock %}

{% block microdata %}
	<meta itemscope itemprop="mainEntityOfPage" itemType="https://schema.org/WebPage" itemid="{{ microdata_url_info }}" content="{{ heading_title }}"/>
	<div itemprop="author" itemscope itemtype="https://schema.org/Person"><meta itemprop="name" content="{{ microdata_author }}" /></div>
	<div itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
		<link itemprop="contentUrl" href="{{ logo }}" />
		<link itemprop="url" href="{{ logo }}">
		<meta itemprop="width" content="{{ logo_width }}">
		<meta itemprop="height" content="{{ logo_height }}">
	</div>
	<div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">		  
		<div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
			<link itemprop="url" href="{{ logo }}">
			<link itemprop="contentUrl" href="{{ logo }}" />
		</div>
		<meta itemprop="name" content="{{ microdata_name }}" />
	</div>
	<meta itemprop="datePublished" content="{{ microdata_date_info }}" />
	<meta itemprop="dateModified" content="{{ microdata_date_info }}" />
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-12">
      {% if (image and main_image_status) %}<img style="float: left; margin: 0 15px 15px 0;" src="{{ image }}" alt="{{ heading_title }}" />{% endif %} 
    <div>

    <div itemprop="description">{{ description }}</div>
		{% if (blog_date_status is defined and blog_date_status) %} 
			<p class="blog_time_bl" style="margin-top: 10px; text-align: left;"><i class="fa fa-clock-o" style="padding-right:3px;"></i>{{ data_added }}</p>
		{% endif %} 
  </div> 
  {% if (share_status) %} {{ share_status_code }} {% endif %}
	{% if (images) %} 
		<hr>
		<div class="thumbnails">
			<div class="revblog_imgs images-additional">
				{% for image in images %} 
					<a class="thumbnail" href="{{ image['popup'] }}" title="{{ heading_title }}"> <img src="{{ image['thumb'] }}" title="{{ heading_title }}" alt="{{ heading_title }}" /></a>
				{% endfor %} 
			</div>
		</div>
	{% endif %} 

  {% include 'partials/product_slider.twig' with {'id': 'blog_products', 'title': heading_products_title} %}

{% if (review_status) %} 
	<div class="tab-review rev_slider">
		<div class="heading_h"><h3>{{ text_revblog_comment }} <sup>{{ review_total }}</sup></h3></div>
			<div class="form-group required mb0 mt12">
					<div class="well well-sm otz">
						<div class="text-right">
							<a class="btn btn-primary" id="open-review-box"><i class="fa fa-comment-o" aria-hidden="true"></i>{{ text_revblog_wr_review }}</a>
						</div>						
						<div class="row" id="post-review-box" style="display:none;">
							<div class="col-md-12">
								<form class="form-review form-horizontal">
									<div class="form-group required">
										<label class="col-sm-2 control-label" for="input-name">{{ entry_rev_p_name }}</label>
										<div class="col-sm-10">
											<input type="text" name="name" value="" id="input-name" class="form-control" />
										</div>
									</div>
									<div class="form-group required">
										<label class="col-sm-2 control-label" for="input-review">{{ entry_rev_b_review }}</label>
										<div class="col-sm-10">
											<textarea name="text" rows="5" id="input-review" class="form-control"></textarea>
										</div>
									</div>
									<input type="hidden" name="parent_review_id" value="0" />
									{{ captcha }} 
									<div class="pull-right text-right">
										<a class="btn btn-default" href="#" id="close-review-box" style="display:none; margin-right: 10px;">{{ text_product_otmena }}</a>
										<button type="button" id="button-review" data-loading-text="{{ text_loading }}" class="btn btn-danger">{{ entry_rev_p_send }}</button>
									</div>					
								</form>
							</div>
						</div>
					</div>
					<script><!--
					$('#open-review-box').click(function(e) {
						$('#post-review-box').slideDown(400, function() {
							$('#input-name').focus();
						});
						$('#open-review-box').fadeOut(100);
						$('#close-review-box').show();
					});
					$('#close-review-box').click(function(e) {
						e.preventDefault();
						$('#post-review-box').slideUp(300, function() {
							$('#input-name').focus();
							$('#open-review-box').fadeIn(100);
						});
						$('#close-review-box').hide();
						$('input[name=\'parent_review_id\']').val('0');
						$('#input-review').val('');
					});
					function revblog_review_answer(review_id, review_autor) {
						$('html, body').animate({scrollTop:$('.tab-review.rev_slider').offset().top - 40}, 'linear');
						$('#input-review').val(review_autor+', ');
						$('input[name=\'parent_review_id\']').val(review_id);
						$('#post-review-box').slideDown(400, function() {
							$('#input-review').focus();
						});
						$('#open-review-box').fadeOut(100);
						$('#close-review-box').show();
					}
					//--></script>
			</div>           
		<div id="review">
			{% if (revblog_reviews) %} 
				{% for revblog_review in revblog_reviews %} 
				<div class="review-list" itemprop="review" itemscope itemtype="http://schema.org/Review">
				  <meta itemprop="itemreviewed" content="{{ heading_title }}" />
				  <div class="author"><span itemprop="author">{{ revblog_review['author'] }}</span><span class="rdate" itemprop="datePublished"> / {{ revblog_review['date_added'] }}</span>
				  <span class="rdate"> / <a onclick="revblog_review_answer({{ revblog_review['review_id'] }}, '{{ revblog_review['author'] }}');">{{ text_revblog_ansver }}</a></span>
				  </div>
				  <div class="text" itemprop="description">{{ revblog_review['text'] }}</div>
					{% if (revblog_review['revblog_parent_reviews']) %} 
						{% for revblog_parent_review in revblog_review['revblog_parent_reviews'] %} 
							<div class="author name_admin">{{ revblog_parent_review['author'] }}<span class="rdate"> / {{ revblog_parent_review['date_added'] }}</span>
							<span class="rdate"> / <a onclick="revblog_review_answer({{ revblog_review['review_id'] }}, '{{ revblog_parent_review['author'] }}');">{{ text_revblog_ansver }}</a></span>
							</div>
							<div class="answer_admin">
								<div>{{ revblog_parent_review['text'] }}</div>
							</div>
						{% endfor %} 
					{% endif %} 
				</div>
				{% endfor %} 
			{% endif %} 
		</div>
	</div>
{% endif %} 
{% if (blog_relateds and not related_left_status) %} 
	<div class="tab-related rev_slider">
		<div class="heading_h"><h3>{{ text_blog_related }}</h3></div>
		<div class="row">
			<div class="tab_related_blogmod">
				{% for blog in blog_relateds %} 
					{% if (blog['revblog_id'] != revblog_id) %} 
						<div class="{{category_blog_grid is defined and category_blog_grid ? 'revblog-grid product-layout col-lg-12' : 'revblog-list col-xs-12' }}">
						  <div class="product-thumb">
							<div class="image">
								<a href="{{ blog['href'] }}"><img src="{{ blog['thumb'] }}" alt="{{ blog['title'] }}" title="{{ blog['title'] }}" class="img-responsive" /></a>
							</div>
							<div class="caption {% if (blog_date_status is defined and blog_date_status) %}with_bl_time{% endif %}">
								<h4 style="height: inherit; margin-bottom: 5px;"><a href="{{ blog['href'] }}">{{ blog['title'] }}</a></h4>
								{% if (category_blog_grid is not defined or not category_blog_grid) %}<p>{{ blog['description'] }}</p>{% endif %} 
								{% if (blog_date_status is defined and blog_date_status) %} 
									<p class="bl_time">{% if (category_blog_grid is not defined or not category_blog_grid) %}<i class="fa fa-clock-o"></i>{% endif %}{{ blog['data_added'] }}</p>
								{% endif %} 
							</div>
						  </div>
						</div>
					{% endif %} 
				{% endfor %} 
			</div>
		</div>
	</div>
{% endif %} 
{% endblock %}

{% block after_content %}{% endblock %}

{% block script %}
<script>
{% if (category_blog_grid is defined and category_blog_grid) %} 
	$(".tab_related_blogmod").owlCarousel({
		responsiveBaseWidth: '.tab-related.rev_slider',
		itemsCustom: [[0, 2], [750, 3], [970, 3], [1170, 3]],
		mouseDrag: true,
		touchDrag: true,
		navigation: true,
		navigationText: ['<i class="fa fa-chevron-left"></i>', '<i class="fa fa-chevron-right"></i>'],
		{% if (not text_blog_related) %} 
		pagination: false
		{% endif %} 
	});
	max_height_div('.tab_related_blogmod .revblog-grid h4');
	$(window).load(function() {
		max_height_div('.tab_related_blogmod .revblog-grid .caption');
	});
{% endif %} 
$(document).ready(function() {
	$('.thumbnails .images-additional').magnificPopup({
		type:'image',
		delegate: 'a',
		gallery: {
			enabled:true
		},
		callbacks: {
		open: function() {
			$('body').addClass('razmiv2');
			$('#pagefader2').fadeIn(70);
			if (document.body.scrollHeight > document.body.offsetHeight) {
				$('#top3').css('right', '8.5px');
			}
		}, 
		close: function() {
			$('body').removeClass('razmiv2');
			$('#pagefader2').fadeOut(70);
			$('#top3').css('right', 'initial');
		}
		}
	});
	$('#button-review').on('click', function() {
		$.ajax({
			url: 'index.php?route=revolution/revblog_blog/write_review&revblog_id={{ revblog_id }}',
			type: 'post',
			dataType: 'json',
			data: $(".form-review").serialize(),
			beforeSend: function() {
				$('#button-review').button('loading');
			},
			complete: function() {
				$('#button-review').button('reset');
			},
			success: function(json) {
				$('.alert-success, .alert-danger').remove();
				if (json['error']) {
					get_revpopup_notification('alert-danger', '{{ text_product_oshibka }}', json['error']);
				}
				if (json['success']) {
					get_revpopup_notification('alert-success', '{{ text_revblog_spasibo }}', json['success']);

					$('input[name=\'name\']').val('');
					$('textarea[name=\'text\']').val('');
					
					$('#post-review-box').slideUp(300);
					$('#new-review').focus();
					$('#open-review-box').fadeIn(100);
					$('#close-review-box').hide();
				}
			}
		});
	});
});
{% if (products) %} 
	{% if (img_slider) %} 
		$('.product_related .owlproduct').owlCarousel({
			items: 1,
			singleItem: true,
			mouseDrag: false,
			touchDrag: false,
			autoPlay: false,
			navigation: true,
			navigationText: ['<i class="fa fa-chevron-left fa-3x"></i>', '<i class="fa fa-chevron-right fa-3x"></i>'],
			pagination: false
		});
	{% else %} 
		$('.owl-carousel.owlproduct').remove();
	{% endif %} 

	{% for product in products %} {% if (product['minimum'] > 1 and recalc_price) %} 
		update_quantity_product_products({{ product['product_id'] }}, {{ product['minimum'] }});
	{% endif %} {% endfor %} 
	function validate_pole_product_products(val, product_id, znak, minimumvalue, maximumvalue) {
		val.value = val.value.replace(/[^\d,]/g, '');
		if (val.value == '') val.value = minimumvalue;
		maximumvalue = Number($('#product_products .pr_quantity_'+product_id).text());
		if (maximumvalue < 1) maximumvalue = 9999;
		input_val = $('#product_products .product_'+product_id+' .plus-minus');	
		quantity = parseInt(input_val.val());
		{% if (q_zavisimost) %} 
		if(znak=='+' && input_val.val() < maximumvalue) input_val.val(quantity+1);
		else if(znak=='-' && input_val.val() > minimumvalue) input_val.val(quantity-1);
		else if(znak=='=' && input_val.val() < maximumvalue && input_val.val() < maximumvalue) input_val.val(input_val.val());
		if (quantity < 1 || quantity < minimumvalue) {
			input_val.val(minimumvalue);
			val.value = minimumvalue;
		} else if (quantity > maximumvalue) {
			input_val.val(maximumvalue);
			val.value = maximumvalue;
		}
		{% else %} 
		if(znak=='+') input_val.val(quantity+1);
		else if(znak=='-' && input_val.val() > minimumvalue) input_val.val(quantity-1);
		else if(znak=='=' && input_val.val() > minimumvalue) input_val.val(input_val.val());
		if (quantity < 1 || quantity < minimumvalue) {
			input_val.val(minimumvalue);
			val.value = minimumvalue;
		}
		{% endif %} 
		update_quantity_product_products(product_id, input_val.val());
	}
	function update_quantity_product_products(product_id, quantity) {
		{% if (recalc_price) %} 
			quantity = quantity;
		{% else %} 
			quantity = 1;
		{% endif %} 
		
		data = $('#product_products .product_'+product_id+' .options input[type=\'text\'], #product_products .product_'+product_id+' .options input[type=\'hidden\'], #product_products .product_'+product_id+' .options input[type=\'radio\']:checked, #product_products .product_'+product_id+' .options input[type=\'checkbox\']:checked, #product_products .product_'+product_id+' .options select');
		$.ajax({
		  url: 'index.php?route=product/product/update_prices',
		  type: 'post',
		  dataType: 'json',
		  data: data.serialize() + '&product_id=' + product_id + '&quantity=' + quantity,
		  success: function(json) {
			{% if (recalc_price) %} 
			
				{% if (description_options['zamena_description'] and description_options['weight']) %} 
					var weight = json['weight'];
					{% if (revtheme_product_all['recalc_price_animate']) %} 
						var start_weight = parseFloat($('#product_products .pr_weight_'+product_id).attr('data-weight'));
						$({val:start_weight}).animate({val:weight}, {
							duration: 500,
							easing: 'swing',
							step: function(val) {
								$('#product_products .pr_weight_'+product_id).html(weight_format(val, product_id));
							}
						});
						$('#product_products .pr_weight_'+product_id).attr('data-weight', json['weight']);
					{% else %} 
						$('#product_products .pr_weight_'+product_id).html(weight_format(weight, product_id));
					{% endif %} 
				{% endif %} 

				{% if (stikers_status) %} 
					var price = json['price_n'];
					{% if (revtheme_product_all['recalc_price_animate']) %} 
						var start_price = parseFloat($('#product_products .special_no_format'+product_id).html().replace(/\s*/g,''));
						$({val:start_price}).animate({val:price}, {
							duration: 500,
							easing: 'swing',
							step: function(val) {
								$('#product_products .special_no_format'+product_id).html(price_format(val));
							}
						});
					{% else %} 
						$('#product_products .special_no_format'+product_id).html(price_format(price));
					{% endif %} 
				{% endif %} 
				
				var special = json['special_n'];
				{% if (revtheme_product_all['recalc_price_animate']) %} 
					var start_special = parseFloat($('#product_products .price_no_format'+product_id).html().replace(/\s*/g,''));
					$({val:start_special}).animate({val:special}, {
						duration: 500,
						easing: 'swing',
						step: function(val) {
							$('#product_products .price_no_format'+product_id).html(price_format(val));
						}
					});
				{% else %} 
					$('#product_products .price_no_format'+product_id).html(price_format(special));
				{% endif %} 
			{% endif %} 
		  }
		});
	}
	function update_prices_product_product_products(product_id, minimumvalue) {
		input_val = $('#product_products .product_'+product_id+' .plus-minus').val();
		if (input_val > minimumvalue) {
			input_val = minimumvalue;
			$('#product_products .product_'+product_id+' .plus-minus').val(minimumvalue);
		}
		{% if (recalc_price) %} 
		quantity = parseInt(input_val);
		{% else %} 
		quantity = 1;
		{% endif %} 
		data = $('#product_products .product_'+product_id+' .options input[type=\'text\'], #product_products .product_'+product_id+' .options input[type=\'hidden\'], #product_products .product_'+product_id+' .options input[type=\'radio\']:checked, #product_products .product_'+product_id+' .options input[type=\'checkbox\']:checked, #product_products .product_'+product_id+' .options select');
		$.ajax({
		  type: 'post',
		  url:  'index.php?route=product/product/update_prices',
		  data: data.serialize() + '&product_id=' + product_id + '&quantity=' + quantity,
		  dataType: 'json',
		  success: function(json) {
		  
			{% if (img_slider) %} 
			$('#product_products .product_'+product_id+' .image .owl-item:first-child img').attr('src', json['opt_image']);
			{% else %} 
			$('#product_products .product_'+product_id+' .image img').attr('src', json['opt_image']);
			{% endif %} 
			
			{% if (description_options['zamena_description'] and description_options['model']) %} 
			$('#product_products .product_'+product_id+' .pr_model_'+product_id).html(json['opt_model']);
			{% endif %} 
		  
			var end_quantity = json['option_quantity'];
			{% if (revtheme_product_all['recalc_price_animate']) %} 
				var start_quantity = parseFloat($('#product_products .pr_quantity_'+product_id).html().replace(/\s*/g,''));
				$({val:start_quantity}).animate({val:end_quantity}, {
					duration: 500,
					easing: 'swing',
					step: function(val) {
						$('#product_products .pr_quantity_'+product_id).html(number_format(val, product_id));
					}
				});
			{% else %} 
				$('#product_products .pr_quantity_'+product_id).html(number_format(end_quantity, product_id));
			{% endif %} 
			
			{% if (description_options['zamena_description'] and description_options['weight']) %} 
				var weight = json['weight'];
				{% if (revtheme_product_all['recalc_price_animate']) %} 
					var start_weight = parseFloat($('#product_products .pr_weight_'+product_id).attr('data-weight'));
					$({val:start_weight}).animate({val:weight}, {
						duration: 500,
						easing: 'swing',
						step: function(val) {
							$('#product_products .pr_weight_'+product_id).html(weight_format(val, product_id));
						}
					});
					$('#product_products .pr_weight_'+product_id).attr('data-weight', json['weight']);
				{% else %} 
					$('#product_products .pr_weight_'+product_id).html(weight_format(weight, product_id));
				{% endif %} 
			{% endif %} 
		  
			{% if (stikers_status) %} 
				var price = json['price_n'];
				{% if (revtheme_product_all['recalc_price_animate']) %} 
					var start_price = parseFloat($('#product_products .special_no_format'+product_id).html().replace(/\s*/g,''));
					$({val:start_price}).animate({val:price}, {
						duration: 500,
						easing: 'swing',
						step: function(val) {
							$('#product_products .special_no_format'+product_id).html(price_format(val));
						}
					});
				{% else %} 
					$('#product_products .special_no_format'+product_id).html(price_format(price));
				{% endif %} 
			{% endif %} 
			
			var special = json['special_n'];
			{% if (revtheme_product_all['recalc_price_animate']) %} 
				var start_special = parseFloat($('#product_products .price_no_format'+product_id).html().replace(/\s*/g,''));
				$({val:start_special}).animate({val:special}, {
					duration: 500,
					easing: 'swing',
					step: function(val) {
						$('#product_products .price_no_format'+product_id).html(price_format(val));
					}
				});
			{% else %} 
				$('#product_products .price_no_format'+product_id).html(price_format(special));
			{% endif %} 
		  }
		});
	}
	function price_format(n) {
		c = {{ currency['decimals'] is empty ? "0" : currency['decimals'] }};
		d = '{{ currency['decimal_point'] }}';
		t = '{{ currency['thousand_point'] }}';
		s_left = '{{ currency['symbol_left'] }}';
		s_right = '{{ currency['symbol_right'] }}';
		n = n * {{ currency['value'] }};
		i = parseInt(n = Math.abs(n).toFixed(c)) + ''; 
		j = ((j = i.length) > 3) ? j % 3 : 0; 
		return s_left + (j ? i.substr(0, j) + t : '') + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : '') + s_right; 
	}
	function weight_format(n, product_id) {
		c = 2;
		d = '.';
		t = ',';
		i = parseInt(n = Math.abs(n).toFixed(c)) + ''; 
		j = ((j = i.length) > 3) ? j % 3 : 0; 
		return (j ? i.substr(0, j) + t : '') + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : '');
	}
	function number_format(n, product_id) {
		i = parseInt(n = Math.abs(n).toFixed(0)) + ''; 
		return i;
	}
	var product_grid_width = $('.product-layout .product-thumb').outerWidth();
	if (product_grid_width < 240) {
		$('.product-layout').addClass('new_line');
	} else {
		$('.product-layout').removeClass('new_line');
	}
	max_height_div('#product_products .product-thumb h4');
	$('#product_products .product-thumb .description_options').css('min-height', 'initial');
	max_height_div('#product_products .product-thumb .description_options');
	max_height_div('#product_products .product-thumb .price');
	max_height_div('#product_products .product-thumb .number');
	max_height_div('#product_products .product-thumb .product_buttons');
	function max_height_div(div) {
		var maxheight = 0;
		$(div).each(function(){
			$(this).removeAttr('style');
			if($(this).height() > maxheight) {
				maxheight = $(this).height();
			}
		});
		$(div).height(maxheight);
	}
{% endif %} 
</script>
{% endblock %}
