{% extends 'revolution/template/product/partials/base.twig' %}

{% block container_schema %} itemtype="http://schema.org/NewsArticle" itemscope {% endblock %}

{% block microdata %}
	<meta itemscope itemprop="mainEntityOfPage" itemType="https://schema.org/WebPage" itemid="{{ microdata_url_info }}" content="{{ heading_title }}"/>
	<div itemprop="author" itemscope itemtype="https://schema.org/Person"><meta itemprop="name" content="{{ microdata_author }}" /></div>
	<div itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
		<link itemprop="contentUrl" href="{{ logo }}" />
		<link itemprop="url" href="{{ logo }}">
		<meta itemprop="width" content="{{ logo_width }}">
		<meta itemprop="height" content="{{ logo_height }}">
	</div>
	<div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">		  
		<div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
			<link itemprop="url" href="{{ logo }}">
			<link itemprop="contentUrl" href="{{ logo }}" />
		</div>
		<meta itemprop="name" content="{{ microdata_name }}" />
	</div>
	<meta itemprop="datePublished" content="{{ microdata_date_info }}" />
	<meta itemprop="dateModified" content="{{ microdata_date_info }}" />
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-12">
      {% if (image and main_image_status) %}<img style="float: left; margin: 0 15px 15px 0;" src="{{ image }}" alt="{{ heading_title }}" />{% endif %} 
    <div>

    <div itemprop="description">{{ description }}</div>
		{% if (blog_date_status is defined and blog_date_status) %} 
			<p class="blog_time_bl" style="margin-top: 10px; text-align: left;"><i class="fa fa-clock-o" style="padding-right:3px;"></i>{{ data_added }}</p>
		{% endif %} 
  </div> 
  {% if (share_status) %} {{ share_status_code }} {% endif %}
	{% if (images) %} 
		<hr>
		<div class="thumbnails">
			<div class="revblog_imgs images-additional">
				{% for image in images %} 
					<a class="thumbnail" href="{{ image['popup'] }}" title="{{ heading_title }}"> <img src="{{ image['thumb'] }}" title="{{ heading_title }}" alt="{{ heading_title }}" /></a>
				{% endfor %} 
			</div>
		</div>
	{% endif %} 

  {% include 'revolution/template/product/carousel_product.twig' with {'id': 'blog_products', 'title': heading_products_title} %}

{% if (review_status) %} 
	<div class="tab-review rev_slider">
		<div class="heading_h"><h3>{{ text_revblog_comment }} <sup>{{ review_total }}</sup></h3></div>
			<div class="form-group required mb0 mt12">
					<div class="well well-sm otz">
						<div class="text-right">
							<a class="btn btn-primary" id="open-review-box"><i class="fa fa-comment-o" aria-hidden="true"></i>{{ text_revblog_wr_review }}</a>
						</div>						
						<div class="row" id="post-review-box" style="display:none;">
							<div class="col-md-12">
								<form class="form-review form-horizontal">
									<div class="form-group required">
										<label class="col-sm-2 control-label" for="input-name">{{ entry_rev_p_name }}</label>
										<div class="col-sm-10">
											<input type="text" name="name" value="" id="input-name" class="form-control" />
										</div>
									</div>
									<div class="form-group required">
										<label class="col-sm-2 control-label" for="input-review">{{ entry_rev_b_review }}</label>
										<div class="col-sm-10">
											<textarea name="text" rows="5" id="input-review" class="form-control"></textarea>
										</div>
									</div>
									<input type="hidden" name="parent_review_id" value="0" />
									{{ captcha }} 
									<div class="pull-right text-right">
										<a class="btn btn-default" href="#" id="close-review-box" style="display:none; margin-right: 10px;">{{ text_product_otmena }}</a>
										<button type="button" id="button-review" data-loading-text="{{ text_loading }}" class="btn btn-danger">{{ entry_rev_p_send }}</button>
									</div>					
								</form>
							</div>
						</div>
					</div>
					<script><!--
					$('#open-review-box').click(function(e) {
						$('#post-review-box').slideDown(400, function() {
							$('#input-name').focus();
						});
						$('#open-review-box').fadeOut(100);
						$('#close-review-box').show();
					});
					$('#close-review-box').click(function(e) {
						e.preventDefault();
						$('#post-review-box').slideUp(300, function() {
							$('#input-name').focus();
							$('#open-review-box').fadeIn(100);
						});
						$('#close-review-box').hide();
						$('input[name=\'parent_review_id\']').val('0');
						$('#input-review').val('');
					});
					function revblog_review_answer(review_id, review_autor) {
						$('html, body').animate({scrollTop:$('.tab-review.rev_slider').offset().top - 40}, 'linear');
						$('#input-review').val(review_autor+', ');
						$('input[name=\'parent_review_id\']').val(review_id);
						$('#post-review-box').slideDown(400, function() {
							$('#input-review').focus();
						});
						$('#open-review-box').fadeOut(100);
						$('#close-review-box').show();
					}
					//--></script>
			</div>           
		<div id="review">
			{% if (revblog_reviews) %} 
				{% for revblog_review in revblog_reviews %} 
				<div class="review-list" itemprop="review" itemscope itemtype="http://schema.org/Review">
				  <meta itemprop="itemreviewed" content="{{ heading_title }}" />
				  <div class="author"><span itemprop="author">{{ revblog_review['author'] }}</span><span class="rdate" itemprop="datePublished"> / {{ revblog_review['date_added'] }}</span>
				  <span class="rdate"> / <a onclick="revblog_review_answer({{ revblog_review['review_id'] }}, '{{ revblog_review['author'] }}');">{{ text_revblog_ansver }}</a></span>
				  </div>
				  <div class="text" itemprop="description">{{ revblog_review['text'] }}</div>
					{% if (revblog_review['revblog_parent_reviews']) %} 
						{% for revblog_parent_review in revblog_review['revblog_parent_reviews'] %} 
							<div class="author name_admin">{{ revblog_parent_review['author'] }}<span class="rdate"> / {{ revblog_parent_review['date_added'] }}</span>
							<span class="rdate"> / <a onclick="revblog_review_answer({{ revblog_review['review_id'] }}, '{{ revblog_parent_review['author'] }}');">{{ text_revblog_ansver }}</a></span>
							</div>
							<div class="answer_admin">
								<div>{{ revblog_parent_review['text'] }}</div>
							</div>
						{% endfor %} 
					{% endif %} 
				</div>
				{% endfor %} 
			{% endif %} 
		</div>
	</div>
{% endif %} 
{% if (blog_relateds and not related_left_status) %} 
	<div class="tab-related rev_slider">
		<div class="heading_h"><h3>{{ text_blog_related }}</h3></div>
		<div class="row">
			<div class="tab_related_blogmod">
				{% for blog in blog_relateds %} 
					{% if (blog['revblog_id'] != revblog_id) %} 
						<div class="{{category_blog_grid is defined and category_blog_grid ? 'revblog-grid product-layout col-lg-12' : 'revblog-list col-xs-12' }}">
						  <div class="product-thumb">
							<div class="image">
								<a href="{{ blog['href'] }}"><img src="{{ blog['thumb'] }}" alt="{{ blog['title'] }}" title="{{ blog['title'] }}" class="img-responsive" /></a>
							</div>
							<div class="caption {% if (blog_date_status is defined and blog_date_status) %}with_bl_time{% endif %}">
								<h4 style="height: inherit; margin-bottom: 5px;"><a href="{{ blog['href'] }}">{{ blog['title'] }}</a></h4>
								{% if (category_blog_grid is not defined or not category_blog_grid) %}<p>{{ blog['description'] }}</p>{% endif %} 
								{% if (blog_date_status is defined and blog_date_status) %} 
									<p class="bl_time">{% if (category_blog_grid is not defined or not category_blog_grid) %}<i class="fa fa-clock-o"></i>{% endif %}{{ blog['data_added'] }}</p>
								{% endif %} 
							</div>
						  </div>
						</div>
					{% endif %} 
				{% endfor %} 
			</div>
		</div>
	</div>
{% endif %} 
{% endblock %}
