{% if (languages|length > 1) %} 
	<form action="{{ action }}" method="post" enctype="multipart/form-data" id="language" class="dropdown">
	<span class="revtext_language">{{ text_language }}:</span>
	{% for language in languages %} 
		<span class="revtext_language_code">
			<a href="{{ language['code'] }}"><img src="catalog/language/{{ language['code'] }}/{{ language['code'] }}.png" alt="{{ language['name'] }}" title="{{ language['name'] }}" /></a>
		</span>
	{% endfor %} 
  <input type="hidden" name="code" value="" />
  <input type="hidden" name="redirect" value="{{ redirect }}" />
  </form>
{% endif %}