<div class="product-layout">
  {% include 'product/card_schema.twig' %}
  <div class="product-thumb shadow-box product-card" data-product-id="{{ product.product_id }}"
      data-product-name="{{ product.name }}">
    <div class="image">
      {% include 'revolution/template/product/partials/img_slider.twig' %}
      {% include 'revolution/template/product/partials/stickers.twig' %}
    </div>
      <a href="{{ product.href }}">{{ product.mpn ?: product.name }}</a>
      <link href="{{ product.href }}"/>
      <div class="attributes">
        {{ product.description }}
        {% if product.attributes %}
          {% for attribute in product.attributes %}
            <div class="attribute-item">
              {{ attribute.name }}:
              <span class="attribute-text">{{ attribute.text }}</span>
            </div>
          {% endfor %}
        {% endif %}
      </div>

      {% include 'product/card_btns.twig' with {'quantity': product.quantity, 'price': product.price} %}
      <div class="product_footer">
        {% include 'product/stock_status.twig' with {'quantity': product.quantity, 'sklad_status': product.sklad_status} %}

        <div class="btns-actions">
          {% include 'product/btns/wishlist.twig' %}
          {% include 'product/btns/lupa.twig' %}
        </div>
      </div>

  </div>
</div>
