{% from 'macro/format.twig' import price_format %}

        {% if (options) %}
<div class="options">
  	  	{% for option in options %}
    {% if (option['type'] == 'select') %}
      	  	<div class="form-group{{ option['required'] ? ' required' : '' }}">
        <label class="control-label" for="input-option{{ option['product_option_id'] }}">{{ option['name'] }}:</label>
        <select data-action="update_prices_product" data-option-price="{{ option_value['price'] }}" data-product-id="{{ product_id }}" data-product-minimum="{{ minimum }}" name="option[{{ option['product_option_id'] }}]" id="input-option{{ option['product_option_id'] }}" class="form-control">
          	  	<option value="">{{ text_select }}</option>
          	  	{% for option_value in option['product_option_value'] %}
            <option value="{{ option_value['product_option_value_id'] }}">{{ option_value['name'] }}
              	  	{% if (opt_price) %}
                {% if (option_value['price']) %}
                  	  	<span class="option_price">({{ option_value['price_prefix'] }}{{ option_value['price'] }})</span>
                {% endif %}
              	  	{% endif %}
            </option>
          	  	{% endfor %}
        </select>
      	  	</div>
    {% endif %}
    {% if (option['type'] == 'radio') %}
      	  	<div class="form-group{{ option['required'] ? ' required' : '' }}">
        <label class="control-label">{{ option['name'] }}:</label>
        <div id="input-option{{ option['product_option_id'] }}">
          	  	{% for option_value in option['product_option_value'] %}
            <div class="radio{% if (option['opt_image']) %} opt_with_img{% endif %}">
              	  	{% if (option_value['model'] is defined and option_value['model'] matches '{http[s]{0,1}:}') %}
                <input onchange="location='{{ option_value['model'] }}';" type="radio" name="option[{{ option['product_option_id'] }}]" value="{{ option_value['product_option_value_id'] }}" id="{{ option['product_option_id'] }}_{{ option_value['product_option_value_id'] }}"/>
              	  	{% else %}
                <input data-action="update_prices_product" data-option-id="{{ option_value['product_option_value_id'] }}" data-option-price="{{ option_value['price'] }}" type="radio" name="option[{{ option['product_option_id'] }}]" value="{{ option_value['product_option_value_id'] }}" id="{{ option['product_option_id'] }}_{{ option_value['product_option_value_id'] }}"/>
              	  	{% endif %}
              	  	<label {% if (option['opt_image']) %} data-toggle="tooltip" title="{{ option_value['name'] }}" {% endif %} class="btn btn-default {% if (option_value['image']) %}label-in-img{% endif %}" for="{{ option['product_option_id'] }}_{{ option_value['product_option_value_id'] }}">
                {% if (option_value['image']) %}
                  	  	<img src="{{ option_value['image'] }}" alt="{{ option_value['name'] ~ option_value['price'] ? ' ' ~ option_value['price_prefix'] ~ option_value['price'] : '' }}" class="img-thumbnail"/>
                  	  	{% if (not option['opt_image']) %}
                    {{ option_value['name'] }}
                  	  	{% endif %}
                {% else %}
                  	  	<span>{{ option_value['name'] }}</span>
                {% endif %}
                {% if (option_value['price']) %}
                  	  	<span class="option_price">{{ option_value['price_prefix'] }}{{ price_format(option_value['price']) }}</span>
                {% endif %}
                <i class="fa fa-check"></i>
              	  	</label>
            </div>
          	  	{% endfor %}
        </div>
      	  	</div>
    {% endif %}
    {% if (option['type'] == 'checkbox') %}
      	  	<div class="form-group{{ option['required'] ? ' required' : '' }}">
        <label class="control-label"></label>
        <div id="input-option{{ option['product_option_id'] }}">
          	  	{% for option_value in option['product_option_value'] %}
            <div class="radio checkbox{% if (option['opt_image']) %} opt_with_img{% endif %}">

              	  	<label {% if (option['opt_image']) %} data-toggle="tooltip" {% endif %} class="btn {% if (option_value['image']) %}label-in-img{% endif %}">
              	  	<input data-action="update_prices_product" data-option-id="{{ option_value['product_option_value_id'] }}" data-option-price="{{ option_value['price'] }}" type="checkbox" name="option[{{ option['product_option_id'] }}][]" value="{{ option_value['product_option_value_id'] }}" />
                <i class="fa fa-check"></i>
                {% if (option_value['image']) %}
                  	  	<img src="{{ option_value['image'] }}" alt="{{ option_value['name'] ~ option_value['price'] ? ' ' ~ option_value['price_prefix'] ~ option_value['price'] : '' }}" class="img-thumbnail"/>
                  	  	{% if (not option['opt_image']) %}
                    {{ option_value['name'] }}
                  	  	{% endif %}
                {% else %}
                  	  	<span>{{ option_value['name'] }}</span>
                {% endif %}
                {% if (option_value['price']) %}
                  	  	<span class="option_price">{{ option_value['price_prefix'] }}{{ price_format(option_value['price']) }}</span>
                {% endif %}
              	  	</label>
            </div>
          	  	{% endfor %}
        </div>
      	  	</div>
    {% endif %}
  	  	{% endfor %}
</div>
<hr>{% endif %}

		{% if ((options and not revtheme_product_all['options_buy']) or not options_buy) %}
			{% if (recurrings) %}
			  <hr>
			  <h3>{{ text_payment_recurring }}</h3>
			  <div class="form-group required">
  	  	  <select name="recurring_id" class="form-control">
    			  <option value="">{{ text_select }}</option>
    			  {% for recurring in recurrings %}
      	  	  <option value="{{ recurring['recurring_id'] }}">{{ recurring['name'] }}</option>
    			  {% endfor %}
  	  	  </select>
  	  	  <div class="help-block" id="recurring-description"></div>
			  </div>
			{% endif %} 
		{% endif %}				
