<div class="payment-info">
	{% if (form_settings['firstname']) %} 
	<div>
		<label>{% if (form_settings['firstname'] == 2) %}<span class="required">*</span>{% endif %}{{ enter_firstname }}</label>
		<input name="firstname" value="{{ firstname }}" {% if (form_settings['firstname'] == 2) %}required{% endif %}/>
	</div>
	{% endif %} 
	{% if (form_settings['telephone']) %} 
	<div>
		<label>{% if (form_settings['telephone'] == 2) %}<span class="required">*</span>{% endif %}{{ enter_telephone }}</label>
		<input name="telephone" value="{{ telephone }}" data-validate="telephone" {% if (form_settings['telephone'] == 2) %}required{% endif %}/>
	</div>
	{% endif %} 
	{% if (form_settings['email']) %} 
	<div>
		<label>{% if (form_settings['email'] == 2) %}<span class="required">*</span>{% endif %}{{ enter_email }}</label>
		<input name="email" value="{{ email }}" {% if (form_settings['email'] == 2) %}required{% endif %}/>
	</div>
	{% endif %} 
	{% if (form_settings['comment']) %} 
	<div>
		<label>{% if (form_settings['comment'] == 2) %}<span class="required">*</span>{% endif %}{{ enter_comment }}</label>
		<textarea name="comment" {% if (form_settings['comment'] == 2) %}required{% endif %}>{{ comment }}</textarea>
	</div>
	{% endif %} 
</div>

{% if (text_agree_pol_konf) %} 
	<div class="rev_pol_konf pull-right text-right">
		<span>{{ text_agree_pol_konf }}</span>
		<input type="checkbox" name="agree_pol_konf" checked="checked" />
	</div>
{% endif %} 
