{% from 'macro/format.twig' import price_format %}
{% set total_sum = 0 %}

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/1999/REC-html401-19991224/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>{{ title }}</title>
<style type="text/css">
  body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
  }
  .container {
    width: 680px;
  }
  .logo {
    margin-bottom: 20px;
    border: none;
  }
  .paragraph {
    margin-top: 0px;
    margin-bottom: 20px;
  }
  .table {
    border-collapse: collapse;
    width: 100%;
    border-top: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
    margin-bottom: 20px;
  }
  .table th {
    font-size: 12px;
    border-right: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    background-color: #EFEFEF;
    font-weight: bold;
    text-align: left;
    padding: 7px;
    color: #222222;
  }
  .table td {
    font-size: 12px;
    border-right: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    text-align: left;
    padding: 7px;
  }
  .table td.right {
    text-align: right;
  }
  .text-bold {
    font-weight: bold;
  }
</style>
</head>
<body>
<div class="container">
  <a href="{{ store_url }}" title="{{ store_name }}">
    <img src="{{ logo }}" alt="{{ store_name }}" class="logo" />
  </a>
  
  <p class="paragraph">{{ text_greeting }}</p>
  
  <table class="table">
    <thead>
      <tr>
        <th colspan="2">{{ text_order_detail }}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <span class="text-bold">{{ text_order_id }}</span> {{ order_id }}<br />
          <span class="text-bold">{{ text_date_added }}</span> {{ date_added }}<br />
          {#}
          {% if payment_method %}
          <span class="text-bold">{{ text_payment_method }}</span> {{ payment_method }}<br />
          {% endif %}
          {% if shipping_method %}
          <span class="text-bold">{{ text_shipping_method }}</span> {{ shipping_method }}
          {% endif %}
          {#}
        </td>
        <td>
          <span class="text-bold">ФИО:</span> {{ name }}<br />
          <span class="text-bold">{{ text_email }}</span> {{ email }}<br />
          <span class="text-bold">{{ text_telephone }}</span> {{ phone }}<br />
          <span class="text-bold">Адрес:</span> {{ address }}<br />
          <span class="text-bold">Комментарий:</span> {{ user_comment }}<br />
        </td>
      </tr>
    </tbody>
  </table>
   
  <table class="table">
    <thead>
      <tr>
        <th>{{ text_product }}</th>
        <th>{{ text_model }}</th>
        <th class="right">{{ text_quantity }}</th>
        <th class="right">{{ text_price }}</th>
        <th class="right">{{ text_total }}</th>
      </tr>
    </thead>
    <tbody>
    {% for product in products %}
    {% set total_sum = total_sum + product.total %}
    <tr>
      <td>
      {#}
        <a href="{{ product.href}}">{{ product.name }}</a>
      {#}
        {{ product.name }}
        {% for option in product.option %}
        <br />&nbsp;<small> - {{ option.value }}</small>
        {% endfor %}
      </td>
      <td>{{ product.model }}</td>
      <td class="right">{{ product.quantity }}</td>
      <td class="right">{{ price_format(product.price) }}</td>
      <td class="right">{{ price_format(product.total) }}</td>
    </tr>
    {% endfor %}
    {% for voucher in vouchers %}
    <tr>
      <td>{{ voucher.description }}</td>
      <td></td>
      <td class="right">1</td>
      <td class="right">{{ voucher.amount }}</td>
      <td class="right">{{ voucher.amount }}</td>
    </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
      <td class="right" colspan="4"><span class="text-bold">Всего:</span></td>
      <td class="right">{{ price_format(total_sum) }}</td>
    </tr>
    </tfoot>
  </table>

  {% if comment %}
  <table class="table">
    <thead>
      <tr>
        <th>{{ text_instruction }}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ comment }}</td>
      </tr>
    </tbody>
  </table>
  {% endif %}
  
  <p class="paragraph">{{ text_footer }}</p>
</div>
</body>
</html>
