<div class="cart-product-items">
  {% for product in products %} 
    <div class="cart-product-item product-card" data-product-id="{{ product.product_id }}" data-product-price="{{ product.price }}">
      <div class="image">
        {% if (product['thumb']) %} 
          <a href="{{ product['href'] }}"><img src="{{ product['thumb'] }}" alt="{{ product['name'] }}" title="{{ product['name'] }}" /></a>
        {% endif %} 
      </div>

      <div class="info">
        <div class="name">
          <a href="{{ product['href'] }}">{{ product['name'] }}</a>
        </div>
        {% include 'product/partials/change_quantity.twig' %}
        <div class="product-info">
    	    {% include 'product/options.twig' with {'options': product.options} %}
        </div>

	    </div>
        <div class="info2">
			    <div class="actions">
            {% include 'product/btns/wishlist.twig' with {'product_id': product.product_id} %}
			      <button class="remove" type="button">
			        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16"><path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/><path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/></svg>
			      </button>
			    </div>

			    <div class="price"></div>
		    </div>
    </div>
  {% endfor %} 
</div>

<div class="all-total">
	<div class="totals-right">Сумма:</div>
  <div id="all_total" class="totals-left"></div>     
</div>    

