{% extends 'modals/base.twig' %}

{% block content %}
	<form method="post" enctype="multipart/form-data" id="purchase-form">
	<input name="product_id" value="{{ product_id }}" style="display: none;" type="hidden" />
	<input class="product_max" value="{{ quantity }}" style="display: none;" type="hidden" />

	<div class="predzakaz-product">
		<div class="image">
			{% if (thumb) %} 
				<img src="{{ thumb }}" title="{{ heading_title }}" alt="{{ heading_title }}" />
			{% endif %} 
		</div>
		<div class="name">
			{{ product_name }} 
		</div>
	</div>

	{% include 'partials/form.twig' %}
	</form>
{% endblock %}

{% block footer %}
	<a class="checkout-btn" data-action="submit"></a>
{% endblock %}
