{% extends 'modals/base.twig' %}

{% set error = error_warning %}

{% block content %}
	<form method="post" enctype="multipart/form-data" id="purchase-form">
	<input name="product_id" value="{{ product_id }}" style="display: none;" type="hidden" />
	<input class="product_max" value="{{ quantity }}" style="display: none;" type="hidden" />
	<table class="display-products-cart porder">
		<tbody>
			<tr>
				<td class="image">
					{% if (thumb) %} 
						<img src="{{ thumb }}" title="{{ heading_title }}" alt="{{ heading_title }}" />
					{% endif %} 
				</td>
				<td class="name">
					{{ product_name }} 
				</td>
			</tr>
		</tbody>
	</table>
	<div class="mobile-products-cart">
		<div>
		<div class="image">
			{% if (thumb) %} 
				<img src="{{ thumb }}" title="{{ heading_title }}" alt="{{ heading_title }}" />
			{% endif %} 
		</div>
		<div class="name">
			{{ product_name }} 
		</div>
		</div>
	</div>

	{% include 'partials/form.twig' with {'form_settings': revtheme_predzakaz} %}
	</form>
{% endblock %}

{% block footer %}
  <button class="continue-shopping" data-action="close">{{ button_shopping }}</button>
	<a class="checkout-btn" data-action="submit">{{ button_checkout }}</a>
{% endblock %}
