{% extends 'modals/base.twig' %}

{% set heading = popuporder_heading_title %}
{% if (minimum > 1) %} 
	{% set attention = text_minimum %}
{% endif %} 

{% block content %}
	<form method="post" enctype="multipart/form-data" id="purchase-form">
		<input name="product_id" value="{{ product_id }}" style="display: none;" type="hidden" />
		<input class="product_max" value="{{ quantity }}" style="display: none;" type="hidden" />
		<table class="display-products-cart porder">
			<tbody>
				<tr>
					<td class="image">
						{% if (thumb) %} 
							<img src="{{ thumb }}" title="{{ heading }}" alt="{{ heading }}" />
						{% endif %} 
					</td>
					<td class="name">
						{{ product_name }} 
						{% if (discounts and not special) %} 
							<div class="discounts">
								{% for discount in discounts %} 
									<span>{{ discount['quantity'] }}{{ text_discount }}{{ discount['price'] }}</span><br/>
								{% endfor %} 
							</div>
						{% endif %} 
					</td>
					<td class="qt">
						{% if (not stock_warning or zakaz) %} 
      	      {% include 'product/partials/change_quantity.twig' with {'product_id': product_id, 'quantity': minimum, 'min_quantity': minimum} %}
						{% endif %} 
					</td>
					<td class="totals">
        {% if (not special) %}
          <span class="update_price">{{ price }} ₽</span>
          <span class="update_special dnone"></span>
        {% else %}
          <span class="update_special price-new">{{ special_price }} ₽</span>
          <span class="update_price price-old">{{ price }} ₽</span>
        {% endif %}
					</td>
				</tr>
			</tbody>
		</table>
		<div class="mobile-products-cart">
			<div>
			<div class="image">
				{% if (thumb) %} 
					<img src="{{ thumb }}" title="{{ heading }}" alt="{{ heading }}" />
				{% endif %} 
			</div>
			<div class="name">
				{{ product_name }} 
				{% if (discounts and not special) %} 
					<div class="discounts">
						{% for discount in discounts %} 
							<span>{{ discount['quantity'] }}{{ text_discount }}{{ discount['price'] }}</span><br/>
						{% endfor %} 
					</div>
				{% endif %} 
			</div>
			<div class="qt">
				{% if (not stock_warning or zakaz) %} 
				<div class="number">
					<div class="frame-change-count">
						<div class="btn-plus">
							<button type="button" data-action="+">+</button>
						</div>
						<div class="btn-minus">
							<button type="button" data-action="-">-</button>
						</div>
					</div>
					<input name="quantity" value="{{ minimum }}"  class="all_quantity plus-minus" onkeyup="validate_pole_popuporder(this);" onchange="validate_pole_popuporder(this);" />
				</div>
				{% endif %} 
			</div>
			<div class="totals">
        {% if (not special) %}
          <span class="update_price">{{ price }} ₽</span>
          <span class="update_special dnone"></span>
        {% else %}
          <span class="update_special price-new">{{ special_price }} ₽</span>
          <span class="update_price price-old">{{ price }} ₽</span>
        {% endif %}
			</div>		
			</div>
		</div>

    <div class="well well-sm product-info product_informationss">
    {% include 'revolution/template/product/partials/product_options.twig' %}
    </div>
		{% include 'partials/form.twig' %}

	</form>
{% endblock %}

{% block footer %}
  <button class="continue-shopping" data-action="close">{{ button_shopping }}</button>
	{% if (not stock_warning or zakaz) %} 
		<a class="checkout-btn" data-action="submit">{{ button_checkout }}</a>
	{% endif %} 
{% endblock %}
