<!--noindex-->
<nav id="mobil_mmenu" class="hidden">
	<ul id="panel-menu">
		{% if (revtheme_dop_menus or categories or revtheme_header_menu_links) %} 					
			{% if (revtheme_dop_menus) %} 
				{% for revtheme_dop_menu in revtheme_dop_menus %} 
					<li>
						{% if revtheme_dop_menu['href'~config_language_id] %}
						<a href="{{ revtheme_dop_menu['href'~config_language_id] }}">{{ revtheme_dop_menu['name'~config_language_id] }}</a>
							{% else %}
							<span>{{ revtheme_dop_menu['name'~config_language_id] }}</span>
						{% endif %}
						{% if (revtheme_dop_menu['children'] is defined) %} 
							<ul class="list-unstyled">
								{% for child in revtheme_dop_menu['children'] %} 
									<li>
										{% if revtheme_dop_menu['href'~config_language_id] != '' %}
											<a href="{{ child['href'~config_language_id] }}">{{ child['name'~config_language_id] }}</a>
											{% else %}
											<span>{{ child['name'~config_language_id] }}</span>
										{% endif %}
										{% if (tri_level and child['children'] is defined) %}
											<ul class="list-unstyled">
												{% for child in child['children'] %}
													<li><a href="{{ child['href'~config_language_id] }}">{{ child['name'~config_language_id] }}</a></li>
												{% endfor %}
											</ul>
										{% endif %}
									</li>
								{% endfor %} 
							</ul>
						{% endif %} 
					</li>
				{% endfor %} 
			{% endif %}

			{% for category in categories %} 
				<li>							
					<a href="{{ category.href }}">{{ category.name }}</a>

					{% if (category.children) %} 
						<ul class="list-unstyled">
							{% for child in category.children %} 
								<li>
									<a href="{{ child.href }}">{{ child.name }}</a>
									{% if child.children %} 
										<ul class="list-unstyled">
											{% for child in child.children %} 
												<li><a href="{{ child.href }}">{{ child.name }}</a></li>
											{% endfor %} 
										</ul>
									{% endif %} 
								</li>
							{% endfor %} 
						</ul>
					{% endif %} 
				</li>
			{% endfor %} 

			{% if (revtheme_header_menu_links) %} 
				{% for item in revtheme_header_menu_links %} 
					<li><a href="{{ item.link }}">{{ item.title }}</a></li>
				{% endfor %} 
			{% endif %} 				
		{% endif %} 

		<li>
			<a href="{{ url_revmenu_manufs }}">{{ text_revmenu_manufs }}</a>
		</li>

		{% if (informations or revtheme_header_links or revtheme_dop_menus_2 or revtheme_dop_menus_3) %} 
			<li class="mm-listitem__text">{{ text_header_information }}</li>
				{% if (revtheme_dop_menus_2) %} 
					{% for revtheme_dop_menu in revtheme_dop_menus_2 %} 
						<li>
							<a href="{{ revtheme_dop_menu['href'~config_language_id] }}">{{ revtheme_dop_menu['name'~config_language_id] }}</a>
							{% if (revtheme_dop_menu['children'] is defined) %}
								<ul class="list-unstyled">
									{% for child in revtheme_dop_menu['children'] %}
										<li><a href="{{ child['href'~config_language_id] }}">{{ child['name'~config_language_id] }}</a></li>
									{% endfor %}
								</ul>
							{% endif %}
						</li>
					{% endfor %} 
				{% endif %} 
		{% endif %} 				
		{% for information in informations2 %} 
			<li><a href="{{ information.href }}">{{ information.title }}</a></li>
		{% endfor %} 
		{% if (revtheme_header_links2) %} 
			{% for revtheme_header_link2 in revtheme_header_links2 %} 
				<li><a href="{{ revtheme_header_link2.link }}">{{ revtheme_header_link2.title }}</a></li>
			{% endfor %} 
		{% endif %} 
		{% if (revblog_status and blog_categories) %} 
			{% for category in blog_categories %} 
				<li class="revblog_mobil_in_menu">
					<a href="{{ category['href'] }}">{{ category['name'] }}</a>
					{% if (category['children']) %} 
						<ul>
							{% for child in category['children'] %} 
								<li>
									<a href="{{ child['href'] }}">{{ child['name'] }}</a>
									{% if (tri_level and child['children']) %} 
										<ul class="list-unstyled">
											{% for child in child['children'] %} 
												<li><a href="{{ child['href'] }}">{{ child['name'] }}</a></li>
											{% endfor %} 
										</ul>
									{% endif %} 
								</li>
							{% endfor %} 
						</ul>
					{% endif %} 
				</li>
			{% endfor %} 
		{% endif %} 			

		<li class="mm-listitem__text">Связь</li>
		{% if (header_phone_text) %} 
			<li>{{ header_phone_text }}</li>
		{% endif %} 
		{% if (header_phone_text2) %} 
				<li>{{ header_phone_text2 }}</li>
			{% endif %} 
		{% if (header_phone_number) %} 
			<li><a href="tel:{{ (header_phone_cod ~ header_phone_number)|replace({' ': '', '-': '', '(': '', ')': ''}) }}">{{ header_phone_cod ~ header_phone_number }}</a></li>
		{% endif %} 
		{% for contact in dop_contacts %} 
			<li><a href="{{ contact.href }}">{{ contact.number }}</a></li>
		{% endfor %} 
		<li><a href="#" class="mob_telef" data-action="open-popup-call" data-mmenu-ignore="true">Обратный звонок</a></li> 

		{% if (phone_dop_text2|length > 30) %} 
			<li class="wrspnormal">
				{{ phone_dop_text2 }} 
			</li>
		{% endif %} 
	</ul>
</nav>
<!--/noindex-->
