<div class="row">
  <div id="carousel{{ module }}" class="swiper swiper-carousel" style="margin-top: 10px;height: max-content;">
    <div class="swiper-wrapper">
      {% for banner in banners %} 
      <div class="swiper-slide">
        {% if (banner.link) %} 
        <a href="{{ banner.link }}"><img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" swiper-slide /></a>
        {% else %} 
        <img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" swiper-slide />
        {% endif %} 
      </div>
      {% endfor %} 
    </div>
  </div>
</div>
