{% if categories %}
  <div id="recommended-categories">
    <h2>Популярные категории</h2>
    <div class="row">
      <div id="recommended_categories" class="swiper swiper-carousel">
        <div class="swiper-wrapper">
          {% for category in categories %}
            <div class="swiper-slide category-tile" style="margin-right: 10px;">
                <div class="category-content"  style="width: 250px;">
                  <div class="category-info">
                    <a href="{{ category.href }}">{{ category.name }}</a>
                    <div class="category-filters">
                      {% for filter in category.filters %}
                        <div class="filter-row">
                        <a href="{{ filter.href }}" class="filter-link">{{ filter.name }}</a>
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>

                <div class="category-image">
                  <a href="{{ category.href }}">
                    <img src="{{ category.image }}" alt="{{ category.name }}" class="img-responsive" loading="lazy" />
                  </a>
                </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endif %}
