{# Табы слайдеров на главной #}
<div class="home__section">
	<div class="row slider-tabs">
		<h2>{{ title }}</h2>

		<div class="ms-auto">
			<ul class="nav nav-tabs slider-tabs__btns">
				{% set active_sliders_list = [] %}
  			{% for i in 1..4 %}
					{% set slider = attribute(_context, 'slider_' ~ i) %}
					{% if slider|default and slider.products|default %}
        		{% set active_sliders_list = active_sliders_list|merge([slider]) %}
    			{% endif %}
  			{% endfor %}

  			{% for slider in active_sliders_list %}
        	<li{% if loop.index == 1%} class="active" {% endif %}>
          	<a href="#tab_slider_{{ slider_id }}_{{ loop.index }}" data-toggle="tab">{{ slider.title }}</a>
        	</li>
  			{% endfor %}
			</ul>
		</div>

	</div>

	<div class="tab-content">
  	{% for slider in active_sliders_list %}
      <div class="hometab_sliders_tab tab-pane {{ loop.index == 1 ? 'active' }}" id="tab_slider_{{ slider_id }}_{{ loop.index }}">
        {% include 'revolution/template/product/carousel_product.twig' with {
          'products': slider.products,
          'title': '',
        } %}
      </div>
  	{% endfor %}
	</div>
</div>
