{% if (slides) %} 
	<div id="home_recommendations" class="swiper swiper-carousel">
  	<div class="swiper-wrapper">
			{% for slide in slides %} 
      	<div class="swiper-slide slide__tile" style="">
					<a href="{{ slide['link'] }}" class="slide__item" style="background: url({{ slide['image'] }}) no-repeat; background-size: contain; background-position: right bottom;
							width: {{ width }}px; height: {{ height }}px;">
						<div class="slide__item-content">
							{% if (slide['title']) %} 
								<span class="slide__item-title">{{ slide['title'] }}</span>
							{% endif %} 

							{% if (slide['description']) %} 
								<span class="slide__item-description">{{ slide['description'] }}</span>
							{% endif %} 

							{% if (slide['link'] and slide['link_title']) %} 
								<a class="slide__item-link" href="{{ slide['link'] }}">{{ slide['link_title'] }}</a>
							{% endif %} 
						</div>
					</a>
      	</div>
    	{% endfor %}
		</div>
	</div>
{% endif %} 
