{# Табы слайдеров на главной #}
<div class="home__section">
	<div class="row align-items-center">
		<div class="col-md">
			<h3>{{ title }}</h3>
		</div>

		<div class="col-md-auto">
			<ul class="nav nav-tabs slider-tabs__btns">
  			{% for i in 1..4 %}
					{% set slider = attribute(_context, 'slider_' ~ i) %}
					{% if slider is defined and slider and slider.products is defined and slider.products %}
        		<li>
          		<a href="#tab_slider_{{ i }}" data-toggle="tab" class="ui-btn ui-btn--45 ui-btn--white">{{ slider.title }}</a>
        		</li>
    			{% endif %}
  			{% endfor %}
			</ul>
		</div>

	</div>

	<div class="tab-content">
  	{% for i in 1..4 %}
			{% set slider = attribute(_context, 'slider_' ~ i) %}
			{% if slider is defined and slider and slider.products is defined and slider.products %}
      	<div class="hometab_sliders_tab tab-pane {{ i == 1 ? 'active' }}" id="tab_slider_{{ i }}">
          {% include 'revolution/template/product/partials/carousel_product.twig' with {
            'products': slider.products,
            'title': '',
            'id': 'tab_slider_' ~ i
          } %}
      	</div>
    	{% endif %} 
  	{% endfor %}
	</div>
</div>
