{% extends 'revolution/template/product/partials/base.twig' %}

{% block container_schema %} itemtype="http://schema.org/ItemList" itemscope {% endblock %}
{% block content %}

  {% if (description and products) %}
    <div class="row category_description {{ category_description_class }}">
      {% if (thumb) %}
        <div class="fl-l"><img src="{{ thumb }}" alt="{{ heading_title }}" title="{{ heading_title }}" class="img-thumbnail"/></div>
      {% endif %}
      <div itemprop="description">{{ description }}</div>
    </div>
  {% endif %}

  {% include 'revolution/template/product/partials/categories.twig' %}
  {% include 'revolution/template/product/partials/products.twig' %}

  {% if (not categories and not products) %}
    <p>{{ text_empty }}</p>
  {% endif %}
  <div class="footer-category">
    {% if (description and not products) %}
      <div class="row category_description">
        {% if (thumb) %}
          <div class="fl-l"><img src="{{ thumb }}" alt="{{ heading_title }}" title="{{ heading_title }}" class="img-thumbnail"/></div>
        {% endif %}
        <div itemprop="description">{{ description }}</div>
      </div>
    {% endif %}
  </div>


{% endblock %}

{% block after_content %}
  {% include 'revolution/template/product/partials/viewed_products.twig' %}
{% endblock %}

