{% extends 'revolution/template/product/partials/base.twig' %}

{% block container_schema %} itemtype="http://schema.org/ItemList" itemscope {% endblock %}
{% block content %}


  {% if description %}
    <div class="row page_description">
      <div itemprop="description" class="description">{{ description }}</div>
    </div>
  {% endif %}

  {% include 'revolution/template/product/partials/categories.twig' %}
  {{ popular_subcategories }}
  {{ related_categories }}
  {% include 'revolution/template/product/partials/products.twig' %}
  {% include 'category/recommended_services.twig' %}
  {{ recommended_products }}
  {{ popular_products }}
  {{ new_products }}
  {{ featured_articles }}

  {% if (not categories and not products) %}
    <p>{{ text_empty }}</p>
  {% endif %}

{% endblock %}

{% block after_content %}
  {% include 'revolution/template/product/carousel_product.twig' with {
    'products': viewed_products,
    'id': 'viewed_products',
    'title': viewed_products_zagolovok}
  %}

  <div class="footer-category"></div>

  {% if ocfilter_pages.bottom %}
  <nav class="ocf-page-list-bottom ocf-clearfix">
    <ul class="ocf-category-page-list">
      {% for ocfilter_page_group in ocfilter_pages.bottom %}
        {% for ocfilter_page in ocfilter_page_group.pages %}
          {% if ocfilter_page.selected %}
            <li class="ocf-page-selected"><a href="{{ ocfilter_page.href }}">{{ ocfilter_page.name }}</a></li>
          {% else %}
            <li><a href="{{ ocfilter_page.href }}">{{ ocfilter_page.name }}</a></li>
          {% endif %}
        {% endfor %}
      {% endfor %}
    </ul>
  </nav>
  {% endif %}

  {% if ocfilter_description_bottom %}
    <div class="row page_description">
      <div itemprop="description" class="description">{{ ocfilter_description_bottom }}</div>
    </div>
  {% endif %}

  {# Статистика #}
	{% include 'statistic/page_view_counter.twig' %}
{% endblock %}

