{% extends 'revolution/template/product/partials/base.twig' %}

{% block container_schema %} itemtype="http://schema.org/ItemList" itemscope {% endblock %}
{% block content %}

  {% if (setting_catalog_all['manuf_desc'] and description) %}
    <div class="manuf_description">
      {% if (thumb) %}
        <div class="fl-l"><img src="{{ thumb }}" alt="{{ heading_title }}" title="{{ heading_title }}" class="img-thumbnail"/></div>
      {% endif %}
      <div itemprop="description">{{ description }}</div>
    </div>
  {% endif %}

  {% include 'revolution/template/product/partials/products.twig' %}

  <div class="footer-category"></div>

	{{ content_bottom }} 
{% endblock %}
