{% extends 'revolution/template/product/partials/base.twig' %}

{% block container_schema %}{% endblock %}
{% block content %}

  <div class="row" itemscope itemtype="http://schema.org/Product">
    <meta itemprop="name" content="{{ heading_title }}"/>
    <meta itemprop="category" content="{{ breadcrumbsbreadcrumbs-2['text'] }}"/>

    {% if (column_left or column_right) %}
      {% set class2 = 'col-sm-9 col-md-6' %}
      {% set class3 = 'col-sm-12 col-md-6' %}
    {% else %}
      {% set class2 = 'col-sm-12 col-md-5' %}
      {% set class3 = 'col-sm-12 col-md-7' %}
    {% endif %}

    <div class="{{ class2 }}">
		  {% include 'revolution/template/product/partials/stickers.twig' %}
		  {% include 'revolution/template/product/partials/product_images.twig' %}
    </div>

    <div class="{{ class3 }} product-card main-product" data-product-id="{{ product_id }}"
    data-product-name="{{ heading_title }}" data-product-price="{{ price }}">
      {% include 'revolution/template/product/partials/product_info_header.twig' %}
      {% include 'revolution/template/product/partials/product_attributes.twig' %}
      {{ product_variants }}
      {% include 'revolution/template/product/partials/product_informations.twig' %}
			{% include 'revolution/template/product/partials/product_accessories.twig' %}
    </div>
		
		{% include 'revolution/template/product/partials/product_tabs.twig' %}
  </div>  

	{% if tags %}
		<p>{{ text_tags }}
		{% for i in 0..tags|length %}
		  {% if i < (tags|length - 1) %} <a href="{{ tags[i].href }}">{{ tags[i].tag }}</a>,
		  {% else %} <a href="{{ tags[i].href }}">{{ tags[i].tag }}</a>
		  {% endif %}
	  {% endfor %} </p>
	{% endif %}
  {{ featured_articles }}
{% endblock %}

{% block after_content %}
	<div id="related-products"></div>
	<div id="viewed-products"></div>

  {# Статистика #}
	{% include 'statistic/page_view_counter.twig' %}
{% endblock %}
