{% from 'macro/star_rating.twig' import star_rating %}

{% for review in reviews %} 
	<div class="review-list" itemprop="review" itemscope itemtype="http://schema.org/Review">

		<div class="review__thumb" style="width: unset;">

			<div class="review__text" style="max-height: unset; min-height: unset;">
				{{ review.text }}
			</div>
			<div class="review__author">
      	<div class="review__author-avatar">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16"><path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/><path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/></svg>
      	</div>
				<div class="review__author-box">
					<div class="review__author-name" itemprop="author">{{ review.author }}</div>
					<div class="rating" itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
						<meta itemprop="worstRating" content = "1">
						<meta itemprop="bestRating" content = "5">
						<meta itemprop="ratingValue" content = "{{ review.rating }}">

						{{ star_rating(review.rating) }}
					</div>
      	</div>
				<div class="review__date_added" itemprop="datePublished">{{ review.date_added }}</div>
			</div>

		</div>

		{% if (review.answer) %} 
			<div class="name_admin">{{ review.answer_from }}</div>
			<div class="answer_admin">
				<div>{{ review.answer }}</div>
			</div>
		{% endif %} 
	</div>
{% endfor %} 
<div class="text-right">{{ pagination }}</div>
