{% extends 'revolution/template/product/partials/base.twig' %}

{% block container_schema %}{% endblock %}

{% block content %}
  <div class="search-container">
    
    <div class="search-form-container">
    	<div class="search-form">
      	<div class="row">
        	<div class="col-sm-12">
          	<div class="row search-row">
            	<div class="col-sm-5 xs-margin-top">
            	{#}
    						<label class="control-label" for="input-search">{{ entry_search }}:</label>
            	{#}
              	<input type="text" 
                     	name="search" 
                     	value="{{ search }}" 
                     	placeholder="{{ text_keyword }}" 
                     	id="input-search" 
                     	class="form-control" />
            	</div>
            	
            	<div class="col-sm-5 xs-margin-top">
              	<select name="category_id" class="form-control">
                	<option value="0">{{ text_category }}</option>
                	{% for category_1 in categories %}
                  	<option value="{{ category_1.category_id }}" 
                          	{{ category_1.category_id == category_id ? 'selected' }}>
                    	{{ category_1.name }}
                  	</option>
                  	
                  	{% for category_2 in category_1.children %}
                    	<option value="{{ category_2.category_id }}" 
                            	{{ category_2.category_id == category_id ? 'selected' }}>
                      	&nbsp;&nbsp;{{ category_2.name }}
                    	</option>
                    	
                    	{% for category_3 in category_2.children %}
                      	<option value="{{ category_3.category_id }}" 
                              	{{ category_3.category_id == category_id ? 'selected' }}>
                        	&nbsp;&nbsp;&nbsp;&nbsp;{{ category_3.name }}
                      	</option>
                    	{% endfor %}
                  	{% endfor %}
                	{% endfor %}
              	</select>
            	</div>
            	
            	<div class="col-sm-2 xs-margin-top">
              	<button type="button" id="button-search" class="btn btn-primary">
                	{{ button_search }}
              	</button>
            	</div>
          	</div>
        	</div>
        	
        	<div class="col-sm-12">
          	<div class="row options-row">
            	<div class="col-sm-5">
              	{% if not ajax_search_description %}
                	<label class="checkbox-inline option-checkbox">
                  	<input type="checkbox" 
                         	name="description" 
                         	value="1" 
                         	id="description" 
                         	{{ description ? 'checked' }} />
                  	{{ entry_description }}
                	</label>
              	{% endif %}
            	</div>
            	
            	<div class="col-sm-5">
              	<label class="checkbox-inline option-checkbox">
                	<input type="checkbox" 
                       	name="sub_category" 
                       	value="1" 
                       	{{ sub_category ? 'checked' }} />
                	{{ text_sub_category }}
              	</label>
            	</div>
          	</div>
        	</div>
      	</div>
    	</div>
    </div>
    
    <h2 class="search-results-title">{{ text_search }}</h2>
    
    {% include 'revolution/template/product/partials/products.twig' %}
    
    {{ content_bottom }}
  </div>
{% endblock %}

{% block script %}
<script>
document.addEventListener('DOMContentLoaded', function() {
  // Elements
  const searchButton = document.getElementById('button-search');
  const searchInput = document.querySelector('#content input[name="search"]');
  const categorySelect = document.querySelector('select[name="category_id"]');
  const subCategoryCheckbox = document.querySelector('input[name="sub_category"]');

  // Handle search
  function performSearch() {
    const params = new URLSearchParams();
    
    if (searchInput?.value) {
      params.append('search', searchInput.value);
    }
    
    if (categorySelect?.value > 0) {
      params.append('category_id', categorySelect.value);
    }
    
    if (document.querySelector('#content input[name="sub_category"]:checked')) {
      params.append('sub_category', 'true');
    }
    
    if (document.querySelector('#content input[name="description"]:checked')) {
      params.append('description', 'true');
    }
    
    window.location.href = `index.php?route=product/search&${params.toString()}`;
  }

  // Event listeners
  if (searchButton) {
    searchButton.addEventListener('click', performSearch);
  }
  
  if (searchInput) {
    searchInput.addEventListener('keydown', (e) => {
      if (e.key === 'Enter') performSearch();
    });
  }
  
  if (categorySelect && subCategoryCheckbox) {
    categorySelect.addEventListener('change', function() {
      subCategoryCheckbox.disabled = this.value === '0';
    });
    
    // Initialize on load
    categorySelect.dispatchEvent(new Event('change'));
  }
});
</script>
{% endblock %}
