{# Объявляем макрос для генерации колонки #}
{% macro renderColumn(status, item, config_language_id = 1) %}

	{% if (status) %} 
		{% if (item.menu or item.description|length > 15) %} 
			<div {{ item.width_attr }}>
				{% if (item.menu) %} 
					<ul class="list-unstyled">
						{% for menu in item.menu %} 
							<li class="zag_dm_cf_li">
								<span class="zag_dm_cf">
									{% if menu['href'~config_language_id] != '' %}
										<a href="{{ menu['href'~config_language_id] }}">{{ menu['name'~config_language_id] }}</a>
									{% else %}
										{{ menu['name'~config_language_id] }}
									{% endif %}
								</span>
								{% if (menu.children is defined) %} 
									<ul class="list-unstyled last_ul_cf">
										{% for child in menu.children %} 
											<li>
												{% if child['href'~config_language_id] != '' %}
													<a href="{{ child['href'~config_language_id] }}">{{ child['name'~config_language_id] }}</a>
												{% else %}
													{{ child['name'~config_language_id] }}
												{% endif %}
											</li>
										{% endfor %}  
									</ul>
								{% endif %}
							</li>
						{% endfor %} 
					</ul>
				{% endif %}
				{% if (item.description|length > 15) %} {{ item.description }} {% endif %} 
			</div>
		{% endif %} 
	{% endif %}  
{% endmacro %}

</section> {# Закрытие секции #}

<footer>
	{{ revsubscribe }} 
	<div class="footer">
		<div class="container-fluid">
			<div class="row">
				<div class="footer_cfs hidden-sm footer_info">
					{{ _self.renderColumn(custom_footer.cf_1_status, menus[1]) }}
					{{ _self.renderColumn(custom_footer.cf_2_status, menus[2]) }}
					{{ _self.renderColumn(custom_footer.cf_3_status, menus[3]) }}
					{{ _self.renderColumn(custom_footer.cf_4_status, menus[4]) }}
					{{ _self.renderColumn(custom_footer.cf_5_status, menus[5]) }}
				</div>

				<div style="text-align:left" class="powered col-sm-12 col-xs-12">{{ powered }}</div>
			</div>
		</div>
	</div>	
</footer>
</div>

<div class="btn-scroll-top">
	<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16"><path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0m-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707z"/></svg>
</div>

{# Отложенный CSS #}
{% for style in styles %} 
<link rel="preload" href="{{ style.href }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="{{ style.href }}"></noscript>
{% endfor %} 

{% for script in scripts %} 
<script src="{{ script }}" defer></script>
{% endfor %} 

{% if (not developer_mode) %} 
{# Yandex.Metrika counter #}
  <script type="text/javascript" >
    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
    m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

    ym(62868895, "init", {
          clickmap:true,
          trackLinks:true,
          accurateTrackBounce:true,
          webvisor:true,
          ecommerce:"dataLayer"
    });
  </script>
  <noscript><div><img src="https://mc.yandex.ru/watch/62868895" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
{# Yandex.Metrika counter #}
{% endif %} 

</body></html>
