{{ header }} 
<div id="">
	<div class="container-fluid">
		<div class="row">

			{% if (h1_home) %} 
				<h1 class="home_h1">{{ h1_home }}</h1>
			{% endif %}	
			{% if (slideshow) %} 
				<div class="col-sm-12 col-md-12">{{ slideshow }}</div>
			{% endif %}	

			{{ recommendations }}

		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row">
	{{ column_left }} 
	
	{% if (column_left and column_right) %} 
	{% set class = 'col-sm-6' %} 
	{% elseif (column_left or column_right) %} 
	{% set class = 'col-sm-9' %} 
	{% else %} 
	{% set class = 'col-sm-12' %} 
	{% endif %} 
	
	<div id="content" class="{{ class }}">
	
	{{ content_top }} 
	
	{{ related_categories }}
	{{ slider_tabs1 }} 
	{{ slider_tabs2 }} 
	
	{% if (blog) %} 
	</div>
	</div>
	</div>
	<div id="top7" class="clearfix">
	<div class="container-fluid">
	{{ blog }} 
	</div>
	</div>
	<div class="container-fluid">
	<div class="row">
	<div class="col-sm-12">
	{% endif %}
	
	{% if (aboutstore) %} 
	<div class="row">
	{{ aboutstore }} 
	</div>
	{% endif %} 
	
	{{ storereview }} 
	<div id="viewed-products"></div>
	
	{{ content_bottom }} 
	
	</div>
	{{ column_right }} 
	</div>
</div>

{{ footer }}
