{{ header }} 
<div id="">
	<div class="container-fluid">
		<div class="row">

			{% if (h1_home) %} 
				<h1 class="home_h1">{{ h1_home }}</h1>
			{% endif %}	
			{% if (slideshow) %} 
				<div class="col-sm-12 col-md-12">{{ slideshow }}</div>
			{% endif %}	

			{{ recommendations }}

		</div>
	</div>
{% if (blocks) %} 
<div id="top6" class="clearfix">
	<div class="container-fluid">
		<div class="row">
			{{ blocks }} 
		</div>
	</div>
</div>	
{% endif %} 
</div>

<div class="container-fluid">
	<div class="row">
	{{ column_left }} 
	
	{% if (column_left and column_right) %} 
	{% set class = 'col-sm-6' %} 
	{% elseif (column_left or column_right) %} 
	{% set class = 'col-sm-9' %} 
	{% else %} 
	{% set class = 'col-sm-12' %} 
	{% endif %} 
	
	<div id="content" class="{{ class }}">
	
	{{ content_top }} 
	
	{{ related_categories }}
	{{ slider_tabs }} 
	
	{% if (blog) %} 
	</div>
	</div>
	</div>
	<div id="top7" class="clearfix">
	<div class="container-fluid">
	{{ blog }} 
	</div>
	</div>
	<div class="container-fluid">
	<div class="row">
	<div class="col-sm-12">
	{% endif %}
	
	{% if (aboutstore) %} 
	{% if (socv or socfb or socok or (socvinsta and right_insta)) %}{% set aboutclass1="col-sm-12 col-md-8 col-lg-9 aboutstore" %}{% set aboutclass2="col-sm-12 col-md-4 col-lg-3" %}{% else %} {% set aboutclass1="col-sm-12 aboutstore2" %}{% set aboutclass2="" %}{% endif %} 
	<div class="row">
	<div class="{{ aboutclass1 }}">
	{{ aboutstore }} 
	{% if (not right_insta) %} 
	{{ socvinsta }} 
	{% endif %} 
	</div>
	<div class="{{ aboutclass2 }}">
	{{ socv }} 
	{{ socfb }} 
	{{ socok }} 
	{% if (right_insta) %} 
	{{ socvinsta }} 
	{% endif %} 
	</div>
	</div>
	{% endif %} 
	
	{{ storereview }} 
	{{ viewed_products }} 
	
	{{ content_bottom }} 
	
	</div>
	{{ column_right }} 
	</div>
</div>

{{ footer }}
