
		<div class="col-sm-12 mb20">
			<ul class="nav nav-tabs">
				{% if (description) %} 
				<li class="active"><a href="#tab-description" data-toggle="tab">{{ tab_description }}</a></li>
				{% endif %} 
				{% if (not atributs) %} 
				{% if (attribute_groups) %} 
				<li><a href="#tab-specification" data-toggle="tab">{{ tab_attribute }}</a></li>
				{% endif %} 
				{% endif %} 
				{% if (review_status) %} 
				<li><a href="#tab-review" data-toggle="tab">{{ tab_review }}</a></li>
				{% endif %} 
				{% if (revanswers) %} 
				<li><a href="#tab-answers" data-toggle="tab">{{ tab_answers }}</a></li>
				{% endif %} 
				{% for info in tab_info %} 
				<li><a href="#tab-extratab{{ info['tab_id'] }}" data-toggle="tab">{{ info['title'] }}</a></li>
				{% endfor %} 
				{% for key,tab in product_tabs %} 
				<li><a href="#tab-{{ product_id }}-{{ tab['product_tab_id'] }}" data-toggle="tab">{{ tab['title'] }}</a></li>
				{% endfor %} 
				{% if (revblogs and blogs) %} 
				<li><a href="#tab-blogs" data-toggle="tab">{{ text_relblogs }}</a></li>
				{% endif %} 
			</ul>		  
			<div class="tab-content">
				<div class="tab-pane active" id="tab-description" itemprop="description">{{ description }}</div>
				{% for info in tab_info %} 
				<div class="tab-pane" id="tab-extratab{{ info['tab_id'] }}">{{ info['description'] }}</div>
				{% endfor %} 
				{% for key,tab in product_tabs %} 
				<div class="tab-pane" id="tab-{{ product_id }}-{{ tab['product_tab_id'] }}">{{ tab['description'] }}</div>
				{% endfor %} 

				{% if (not atributs) %} 
				{% if (attribute_groups) %} 
				<div class="tab-pane" id="tab-specification">         
					{% if (atributs_group_name) %} 
						{% for attribute_group in attribute_groups %} 
						<table class="table attrbutes mb0">
						<thead>
							<tr>
							<td colspan="2">{{ attribute_group['name'] }}</td>
							</tr>
						</thead>		
							<tbody>
							{% for attribute in attribute_group['attribute'] %} 
							<tr itemprop="additionalProperty" itemscope itemtype="http://schema.org/PropertyValue">
							<td itemprop="name">{{ attribute['name'] }}</td>
							<td itemprop="value">{{ attribute['text'] }}</td>
							</tr>
							{% endfor %} 
						</tbody>
						</table>
						{% endfor %} 
					{% else %}	
						<table class="table attrbutes mb0">
						<tbody>
						{% for attribute_group in attribute_groups %} 
						{% for attribute in attribute_group['attribute'] %} 
						<tr itemprop="additionalProperty" itemscope itemtype="http://schema.org/PropertyValue">
						<td itemprop="name">{{ attribute['name'] }}</td>
						<td itemprop="value">{{ attribute['text'] }}</td>
						</tr>
						{% endfor %} 
						{% endfor %} 
						</tbody>
						</table>
					{% endif %} 
				</div>
				{% endif %} 
				{% endif %}		
				{% if (review_status) %} 
				<div class="tab-pane" id="tab-review">
				<div id="review"></div>
					{% if (review_guest) %} 
					<div class="form-group required mb0 mt12">
							<div class="well well-sm otz">
								<div class="text-right">
									<a class="btn btn-primary" id="open-review-box"><i class="fa fa-comment-o" aria-hidden="true"></i>{{ text_product_wr_review }}</a>
								</div>						
								<div class="row" id="post-review-box" style="display:none;">
									<div class="col-md-12">
										<form class="form-review form-horizontal">
											<div class="form-group required">
												<label class="col-sm-2 control-label" for="input-name">{{ entry_rev_p_name }}</label>
												<div class="col-sm-10">
													<input type="text" name="name" value="" id="input-name" class="form-control" />
												</div>
											</div>
											<div class="form-group required">
												<label class="col-sm-2 control-label" for="input-review">{{ entry_rev_p_review }}</label>
												<div class="col-sm-10">
													<textarea name="text" rows="5" id="input-review" class="form-control"></textarea>
												</div>
											</div>
											<div class="form-group required">
												<label class="col-sm-2 control-label">{{ entry_rating }}</label>
												<div class="col-sm-10">
													<div class="prod-rating">
														<input id="rat1" type="radio" name="rating" value="1" /><label class="rat-star" for="rat1"><i class="fa fa-star"></i></label>
														<input id="rat2" type="radio" name="rating" value="2" /><label class="rat-star" for="rat2"><i class="fa fa-star"></i></label>
														<input id="rat3" type="radio" name="rating" value="3" /><label class="rat-star" for="rat3"><i class="fa fa-star"></i></label>
														<input id="rat4" type="radio" name="rating" value="4" /><label class="rat-star" for="rat4"><i class="fa fa-star"></i></label>
														<input id="rat5" type="radio" name="rating" value="5" /><label class="rat-star" for="rat5"><i class="fa fa-star"></i></label>
													</div>
													<script><!--
														$('.rat-star').hover(function () {
															$(this).prevAll('.rat-star').addClass('active');
															$(this).addClass('active');
														},function () {
															$(this).prevAll('.rat-star').removeClass('active');
															$(this).removeClass('active');
														});
														
														$('.rat-star').click(function(){
															$('.rat-star').each(function(){
																$(this).removeClass('checked');
																$(this).prevAll('.rat-star').removeClass('checked');
															});
															
															$(this).addClass('checked');
															$(this).prevAll('.rat-star').addClass('checked');
														});
														
													//--></script>
												</div>
											</div>
											{{ captcha }} 
											<div class="pull-right text-right">
												<a class="btn btn-default" href="#" id="close-review-box" style="display:none; margin-right: 10px;">{{ text_product_otmena }}</a>
												<button type="button" id="button-review" data-loading-text="{{ text_loading }}" class="btn btn-danger">{{ entry_rev_p_send }}</button>
											</div>					
										</form>
									</div>
								</div>
							</div>
							<script><!--
							$('#open-review-box').click(function(e) {
							$('#post-review-box').slideDown(400, function() {
							$('#new-review').trigger('autosize.resize');
							$('#new-review').focus();
							});
							$('#open-review-box').fadeOut(100);
							$('#close-review-box').show();
							});

							$('#close-review-box').click(function(e) {
							e.preventDefault();
							$('#post-review-box').slideUp(300, function() {
							$('#new-review').focus();
							$('#open-review-box').fadeIn(100);
							});
							$('#close-review-box').hide();
							});
							//--></script>
					</div>              
					{% else %} 
					{{ text_login }} 
					{% endif %} 
				</div>
				{% endif %} 
				{% if (revanswers) %} 
					<div class="tab-pane" id="tab-answers">
						<div id="answers">
							{% if (answers) %} 
								{% for review in answers %} 
								<div class="review-list">
								  <div class="author">{{ review['author'] }}<span> <span class="rdate">/ {{ review['date_added'] }}</span></span></div>
								  <div class="text">{{ review['text'] }}</div>
								  {% if (review['answer']) %} 
									<div class="name_admin">{{ review['answer_from'] }}</div>
									<div class="answer_admin">
										<div>{{ review['answer'] }}</div>
									</div>
								  {% endif %} 
								</div>
								{% endfor %} 
									{% if (results_answers > 10) %} 
									  <div class="row">
										<div class="pagpages clearfix">
											<div class="col-sm-6 text-left">{{ pagination_answers }}</div>
											<div class="col-sm-6 text-right">{{ results_answers }}</div>
										</div>
									  </div>
									{% endif %} 
							{% else %} 
							<p>{{ answers_no_reviews }}</p>
							{% endif %} 
						</div>
						<div class="form-group required mb0 mt12">
							<div class="well well-sm otz">
								<div class="text-right">
									<a class="btn btn-primary" id="open-answers-box"><i class="fa fa-comment-o" aria-hidden="true"></i>{{ entry_rev_p_answer_wrt }}</a>
								</div>						
								<div class="row" id="post-answers-box" style="display:none;">
									<div class="col-md-12">
										<form class="form-answers form-horizontal">
											<div class="form-group required">
												<label class="col-sm-2 control-label" for="input-name-2">{{ entry_rev_p_name }}</label>
												<div class="col-sm-10">
													<input type="text" name="name_answer" value="" id="input-name-2" class="form-control" />
												</div>
											</div>
											<div class="form-group required">
												<label class="col-sm-2 control-label" for="input-answer">{{ entry_rev_p_answer }}</label>
												<div class="col-sm-10">
													<textarea name="text_answer" rows="5" id="input-answer" class="form-control"></textarea>
												</div>
											</div>
											{{ captcha2 }} 
											<div class="pull-right text-right">
												<a class="btn btn-default" href="#" id="close-answers-box" style="display:none; margin-right: 10px;">{{ text_product_otmena }}</a>
												<button type="button" id="button-answers" data-loading-text="{{ text_loading }}" class="btn btn-danger">{{ entry_rev_p_send }}</button>
											</div>					
										</form>
									</div>
								</div>
							</div>
							<script><!--
							$('#open-answers-box').click(function(e) {
							$('#post-answers-box').slideDown(400, function() {
							$('#new-answers').trigger('autosize.resize');
							$('#new-answers').focus();
							});
							$('#open-answers-box').fadeOut(100);
							$('#close-answers-box').show();
							});

							$('#close-answers-box').click(function(e) {
							e.preventDefault();
							$('#post-answers-box').slideUp(300, function() {
							$('#new-answers').focus();
							$('#open-answers-box').fadeIn(100);
							});
							$('#close-answers-box').hide();
							});
							//--></script>
						</div>
					</div>
				{% endif %} 
				{% if (revblogs and blogs) %} 
					<div class="tab-pane" id="tab-blogs">
						{% for blog in blogs %} 
							<div class="tab_rb">
								<a href="{{ blog['href'] }}">
									{% if (blog['image']) %} 
										<div class="tab_rb_image">
										<img src="{{ blog['image'] }}" alt="{{ blog['title'] }}" title="{{ blog['title'] }}" class="img-responsive"/>
										</div>
									{% endif %} 
									<div class="tab_rb_title">{{ blog['title'] }}</div>
								</a>
								<div class="tab_rb_description">{{ blog['description'] }}</div>
							</div>
						{% endfor %} 
					</div>
				{% endif %} 
			</div>
		</div>