{% if (revtheme_product_all['h1_right']) %}
  <span class="pr_h1_block">
    <h1 class="inbreadcrumb">{{ mpn ?: heading_title }}</h1>
  </span>
{% endif %}
<meta itemprop="mpn" content="{{ model }}">

{% if (revtheme_product_all['short_desc'] and short_description) %}
  <div class="short_description">{{ short_description }}</div>
{% endif %}

<ul class="product_list_top">
  {% if (bonusbals_status) %}
    {% if (reward) %}
      <li>
        <span data-toggle="tooltip" data-placement="top" title="{{ text_product_bonus_tooltip }}">+
          {{ reward }}
          {{ text_product_bonusov }}</span>
      </li>
    {% endif %}
  {% endif %}
  {% if (manufacturer_status) %}
    {% if (manufacturer) %}
      <li>{{ text_manufacturer }}<a href="{{ manufacturers }}">
          <span itemprop="brand" itemscope itemtype="https://schema.org/Brand"><meta itemprop="name"/>{{ manufacturer }}</span>
        </a>
      </li>
    {% endif %}
  {% endif %}
  {% if (model_status) %}
    {% if (model != '') %}
      <li>{{ text_model }}<span>{{ model }}</span>
      </li>
    {% endif %}
  {% endif %}
  {% if (sku_status) %}
    {% if (sku != '') %}
      <li>{{ text_product_artikul }}<span>{{ sku }}</span>
      </li>
    {% endif %}
  {% endif %}
</ul>

{% if (review_status) %}
  {% if (reviews_number > 0) %}
    <span itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
      <meta itemprop="worstRating" content="1">
      <meta itemprop="bestRating" content="5">
      <meta itemprop="ratingValue" content="{{ rating }}">
      <meta itemprop="reviewCount" content="{{ reviews_number }}">
    </span>
  {% endif %}
  <div class="product_list_top2">
    {% if (rev_srav_prod) %}
      <div class="product-info">
        <div class="compare">
          <a class="pjid_{{ product_id }} {{ compare_class }}" data-action="compare-toggle" data-toggle="tooltip" data-product-id="{{ product_id }}" data-brand="{{ brand }}">
            <i class="fa fa-bar-chart-o"></i>
            {#}
            <span>{{ button_compare }}</span>
            {#}
            <span>Сравнить</span>
          </a>
        </div>
      </div>
    {% endif %}
    <div class="rating">
      {% set i = 1 %}
      {% for i in i..5 %}
        {% if (rating < i) %}
          <span class="fa fa-stack">
            <i class="fa fa-star-o fa-stack-1x"></i>
          </span>
        {% else %}
          <span class="fa fa-stack">
            <i class="fa fa-star fa-stack-1x"></i>
            <i class="fa fa-star-o fa-stack-1x"></i>
          </span>
        {% endif %}
      {% endfor %}
      {% if (revtheme_product_all['pr_tabs']) %}
        <a class="adotted" onclick="$('a[href=\'#tab-review\']').trigger('click'); $('html, body').animate({ scrollTop: $('a[href=\'#tab-review\']').offset().top - 2}, 250); return false;">{{ reviews }}</a>
      {% else %}
        <a class="adotted" onclick="$('html, body').animate({ scrollTop: $('.tab-review').offset().top - 70}, 250); return false;">{{ reviews }}</a>
      {% endif %}
    </div>
  </div>
{% endif %}

<div class="prod_list-unstyled">
  <ul class="list-unstyled">
      <li class="hidden pr_quantity">{{ quantity }}</li>

    {% if (not atributs) %}
      {% if (revtheme_product_all_attribute_group) %}
        {% for attribute_group in attribute_groups %}
          {% if (attribute_group['attribute_group_id'] in revtheme_product_all_attribute_group) %}
            {% if (revtheme_product_all['atributs_all_limit'] is defined and revtheme_product_all['atributs_all_limit']) %}
              {{ attribute_group['attribute']|slice(0, revtheme_product_all['atributs_all_limit']) }}
            {% endif %}
            {% for attribute in attribute_group['attribute'] %}
              {% if (attribute['text'] != '') %}
                <li class="dotted-line">{{ attribute['name'] }}:<span>{{ attribute['text'] }}</span>
                </li>
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endfor %}
        {% if (atributs_ssilka_all and attribute_groups) %}
          <li class="adotted_block">
            {% if (revtheme_product_all['pr_tabs']) %}
              <a class="adotted" onclick="$('a[href=\'#tab-specification\']').trigger('click'); $('html, body').animate({ scrollTop: $('a[href=\'#tab-specification\']').offset().top - 2}, 250); return false;">{{ text_product_all_attribs }}</a>
            {% else %}
              <a class="adotted" onclick="$('html, body').animate({ scrollTop: $('.tab-specification').offset().top - 70}, 250); return false;">{{ text_product_all_attribs }}</a>
            {% endif %}
          </li>
        {% endif %}
      {% endif %}
    {% endif %}

    {% if (atributs) %}
      {% for attribute_group in attribute_groups %}
        {% for attribute in attribute_group['attribute'] %}
          {% if (attribute['text'] != '') %}
            <li class="dotted-line" itemprop="additionalProperty" itemscope itemtype="http://schema.org/PropertyValue">
              <div class="dotted-line_left">
                <span class="dotted-line_title" itemprop="name">{{ attribute['name'] }}:</span>
                <div class="dotted-line_line"></div>
              </div>
              <div class="dotted-line_right" itemprop="value">{{ attribute['text'] }}</div>
            </li>
          {% endif %}
        {% endfor %}
      {% endfor %}
    {% endif %}
  </ul>
</div>

{#}
{% if (zakaz_price_null or price_number > 0) %}
  <div class="well well-sm product-info product_informationss">
    {% if (share_status) %}
      {{ share_status_code }}
    {% endif %}
  </div>
{% endif %}
{#}
