{% extends 'modals/base.twig' %}

{% set error = error_warning %}

{% block content %}
	<form method="post" enctype="multipart/form-data" id="purchase-form">
	<input name="product_id" value="{{ product_id }}" style="display: none;" type="hidden" />
	<input class="product_max" value="{{ quantity }}" style="display: none;" type="hidden" />
	<table class="display-products-cart porder">
		<tbody>
			<tr>
				<td class="image">
					{% if (thumb) %} 
						<img src="{{ thumb }}" title="{{ heading_title }}" alt="{{ heading_title }}" />
					{% endif %} 
				</td>
				<td class="name">
					{{ product_name }} 
				</td>
			</tr>
		</tbody>
	</table>
	<div class="mobile-products-cart">
		<div>
		<div class="image">
			{% if (thumb) %} 
				<img src="{{ thumb }}" title="{{ heading_title }}" alt="{{ heading_title }}" />
			{% endif %} 
		</div>
		<div class="name">
			{{ product_name }} 
		</div>
		</div>
	</div>
	<div class="payment-info">
		{% if (revtheme_predzakaz['firstname']) %} 
		<div>
			<label>{% if (revtheme_predzakaz['firstname'] == 2) %}<span class="required">*</span>{% endif %}{{ enter_firstname }}</label>
			<input name="firstname" value="{{ firstname }}" />
		</div>
		{% endif %} 
		{% if (revtheme_predzakaz['telephone']) %} 
		<div>
			<label>{% if (revtheme_predzakaz['telephone'] == 2) %}<span class="required">*</span>{% endif %}{{ enter_telephone }}</label>
			<input name="telephone" value="{{ telephone }}" {% if (telephone_mask) %} data-mask="{{ telephone_mask }}" {% endif %} />
		</div>
		{% endif %} 
		{% if (revtheme_predzakaz['email']) %} 
		<div>
			<label>{% if (revtheme_predzakaz['email'] == 2) %}<span class="required">*</span>{% endif %}{{ enter_email }}</label>
			<input name="email" value="{{ email }}" />
		</div>
		{% endif %} 
		{% if (revtheme_predzakaz['comment']) %} 
		<div>
			<label>{% if (revtheme_predzakaz['comment'] == 2) %}<span class="required">*</span>{% endif %}{{ enter_comment }}</label>
			<textarea name="comment">{{ comment }}</textarea>
		</div>
		{% endif %} 
	</div>
	{% if (text_agree_pol_konf) %} 
		<div class="rev_pol_konf pull-right text-right">
			<span>{{ text_agree_pol_konf }}</span>
			<input type="checkbox" name="agree_pol_konf" checked="checked" />
		</div>
	{% endif %} 
	</form>
{% endblock %}

{% block footer %}
  <button class="continue-shopping" data-action="close">{{ button_shopping }}</button>
	<a id="popup-checkout-button" data-action="submit">{{ button_checkout }}</a>
{% endblock %}
