{{ header }}{{ column_left }}
<div id="content">
  	<div class="page-header">
	    <div class="container-fluid">
	      	<div class="pull-right">
			    <button onclick="$('#input-apply').attr('value', '1'); $('#form-art_ask_price').submit();" data-toggle="tooltip" title="{{ button_apply }}" class="btn btn-success"><i class="fa fa-save"></i></button>
		        <button type="submit" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
		        <button type="button" id="button-delete" data-submit="{{ delete }}" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
		        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
		    </div>
	      	<h1>{{ heading_title }}</h1>
			<ul class="breadcrumb">
		    	{% for breadcrumb in breadcrumbs %}
		        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
		        {% endfor %}
		    </ul>
	    </div>
  	</div>
	<div class="container-fluid">
		{% if error_warning %}
		<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
		  <button type="button" class="close" data-dismiss="alert">&times;</button>
		</div>
		{% endif %}
		{% if success %}
		<div class="alert alert-success"><i class="fa fa-check-circle"></i> {{ success }}
		  <button type="button" class="close" data-dismiss="alert">&times;</button>
		</div>
		{% endif %}
		<div id="success"></div>
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
		  </div>
		  <div class="panel-body">
		    <ul class="nav nav-tabs">
			  <li class="active"><a href="#tab-art_ask_price" data-toggle="tab">{{ tab_ask_price }}</a></li>
			  <li><a href="#tab-setting_main" data-toggle="tab">{{ tab_setting_main }}</a></li>
			  <li><a href="#tab-setting_form" data-toggle="tab">{{ tab_setting_form }}</a></li>
			  <li><a href="#tab-support" data-toggle="tab">{{ tab_support }}</a></li>
		    </ul>
		   	<form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-art_ask_price" class="form-horizontal">
			    <div class="tab-content">
				  	<div class="tab-pane active" id="tab-art_ask_price">
					    <div class="row">
						    <div class="panel-body">
							  	<div class="row">
							      <div class="col-sm-6 text-left">{{ pagination }}</div>
							      <div class="col-sm-6 text-right">{{ results }}</div>
							    </div>
							    <br>
						      	<div class="table-responsive">
							    	<table class="table table-bordered table-hover">
							      		<thead>
								    		<tr>
								    		  <td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" /></td>
								    		  <td class="text-left">{% if sort == 'askprice_id' %}<a href="{{ sort_askprice_id }}" class="{{ order|lower }}">№</a>{% else %}<a href="{{ sort_askprice_id }}">№</a>{% endif %}</td>
										      <td class="text-left">{{ column_product_id }}</td>
										      <td class="text-left">{% if sort == 'user' %}<a href="{{ sort_user }}" class="{{ order|lower }}">{{ column_user }}</a>{% else %}<a href="{{ sort_user }}">{{ column_user }}</a>{% endif %}</td>	
										      <td class="text-left">{% if sort == 'email' %}<a href="{{ sort_email }}" class="{{ order|lower }}">{{ column_email }}</a>{% else %}<a href="{{ sort_email }}">{{ column_email }}</a>{% endif %}</td>
											  <td class="text-left">{% if sort == 'phone' %}<a href="{{ sort_phone }}" class="{{ order|lower }}">{{ column_phone }}</a>{% else %}<a href="{{ sort_phone }}">{{ column_phone }}</a>{% endif %}</td>
											  <td class="text-left">{{ column_comment }}</td>
											  <td class="text-left">{% if sort == 'date_added' %}<a href="{{ sort_date_added }}" class="{{ order|lower }}">{{ column_date_added }}</a>{% else %}<a href="{{ sort_date_added }}">{{ column_date_added }}</a>{% endif %}</td>
											  <td class="text-left"></td>
								    		</tr>
								  		</thead>
							      		<tbody>
										    {% if module_art_ask_prices %}
										    {% for  module_art_ask_price in module_art_ask_prices %}
										    <tr>
										      <td style="width: 1px;" class="text-center"><input type="checkbox" name="selected[]" value="{{ module_art_ask_price.ask_price_id }}" /></td>
										      <td class="text-left">{{ module_art_ask_price.ask_price_id }}</td>
										      <td class="text-left"><a href="{{ module_art_ask_price.product_link }}" target="_blank">{{ module_art_ask_price.product_id }}</a></td>
										      <td class="text-left">{{ module_art_ask_price.user }}</td>
										      <td class="text-left">{{ module_art_ask_price.email }}</td>
											  <td class="text-left">{{ module_art_ask_price.phone }}</td>
											  <td class="text-left">{{ module_art_ask_price.comment }}</td>
											  <td class="text-left">{{ module_art_ask_price.date_added }}</td>
											  <td class="text-left"><a onclick="if (confirm('Вы уверены?')) { return true; } else { return false; }" href="{{ module_art_ask_price.delete }}" data-toggle="tooltip" title="" class="btn btn-danger" data-original-title="{{ button_delete }}"><i class="fa fa-trash-o"></i></a></td>
										    </tr>
										    {% endfor %}
										    {% else %}
										    <tr>
										      <td class="text-center" colspan="8">{{ text_no_results }}</td>
										    </tr>
										    {% endif %}
								      </tbody>
							    	</table>
						      	</div>
							    <div class="row">
							      <div class="col-sm-6 text-left">{{ pagination }}</div>
							      <div class="col-sm-6 text-right">{{ results }}</div>
							    </div>
					      	</div>
					    </div>
					</div>
				  	<div class="tab-pane" id="tab-setting_main">
					    <input type="hidden" name="module_art_ask_price_apply" id="input-apply" value="0" />
					    <div class="form-group">
					      <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
					      <div class="col-sm-10">
						    <select name="module_art_ask_price_status" id="input-status" class="form-control">
						      {% if module_art_ask_price_status %}
						      <option value="1" selected="selected">{{ text_enabled }}</option>
						      <option value="0">{{ text_disabled }}</option>
						      {% else %}
						      <option value="1">{{ text_enabled }}</option>
						      <option value="0" selected="selected">{{ text_disabled }}</option>
						      {% endif %}
						    </select>
					      </div>
					    </div>
					    <div class="form-group">
					      <label class="col-sm-2 control-label" for="input-art_ask_price_token">{{ entry_token }}</label>
					      <div class="col-sm-10">
						    <input type="text" name="art_ask_price_token" value="{{ module_art_ask_price_token }}" placeholder="{{ entry_token }}" id="input-art_ask_price_token" class="form-control" />
					      </div>
					    </div>
					    <div class="form-group">
					      <label class="col-sm-2 control-label" for="input-art_ask_price_chat_id">{{ entry_chat_id }}</label>
					      <div class="col-sm-10">
						    <input type="text" name="art_ask_price_chat_id" value="{{ module_art_ask_price_chat_id }}" placeholder="{{ entry_chat_id }}" id="input-art_ask_price_chat_id" class="form-control" />
					      </div>
					    </div>

					    <div class="form-group">
					      <label class="col-sm-2 control-label" for="input-art_ask_price_mail">{{ entry_mail }}</label>
					      <div class="col-sm-10">
						    <input type="text" name="module_art_ask_price_mail" value="{{ module_art_ask_price_mail }}" placeholder="{{ entry_mail }}" id="input-art_ask_price_mail" class="form-control" />
					      </div>
					    </div>
					    <div class="form-group">
			                <label class="col-sm-2 control-label" for="input-send_success">{{ entry_send_success }}</label>
			                <div class="col-sm-10">
			                  <input type="text" name="module_art_ask_price_send_success" value="{{ module_art_ask_price_send_success }}" placeholder="{{ entry_send_success }}" id="input-send_success" class="form-control" />
			                </div>
			            </div>  
			            <div class="form-group">
			                <label class="col-sm-2 control-label" for="input-price">{{ entry_price }}</label>
			                <div class="col-sm-10">
			                  <input type="text" name="module_art_ask_price_price" value="{% if module_art_ask_price_price != 0 %} {{ module_art_ask_price_price }} {% else %} 0 {% endif %}" placeholder="{{ entry_price }}" id="input-price" class="form-control" />
			                </div>
			            </div>  
				  	</div>
				  	<div class="tab-pane" id="tab-setting_form">
			            <div class="table-responsive">
			            	<table class="table table-bordered table-hover">
			            		<tr>
			            			<th width="240px"></th>
			            			<th>{{ text_required }}</th>
			            			<th>{{ text_no_required }}</th>
			            			<th>{{ text_disabled }}</th>
			            			{# <th width="80px">{{ text_sort }}</th> #}
			            			<th>{{ text_name }}</th>
			            		</tr>
			            		<tr>
			            			<td>{{ entry_name }}</td>
			            			<td class="text-center">
				                        <input type="radio" name="module_art_ask_price_name" value="2" {% if module_art_ask_price_name == 2 %} checked="checked" {% endif %}/>
			            			</td>
			            			<td class="text-center">
				                        <input type="radio" name="module_art_ask_price_name" value="1" {% if module_art_ask_price_name == 1 %} checked="checked" {% endif %} />
			            			</td>
			            			<td class="text-center">
				                        <input type="radio" name="module_art_ask_price_name" value="0" {% if module_art_ask_price_name == 0 %} checked="checked" {% endif %}/>
			            			</td>
			            			{# <td class="text-center">
			            				<input class="col-xs-12" type="number" min="0" name="module_art_ask_price_sort_name" value="{{ module_art_ask_price_sort_name }}">
			            			</td> #}
			            			<td>
			            				<input class="col-xs-12" type="text" name="module_art_ask_price_text_name" value="{{ module_art_ask_price_text_name }}" placeholder="{{ entry_name }}">
			            			</td>
			            		</tr>
			            		<tr>
			            			<td>{{ entry_phone }}</td>
			            			<td class="text-center">
				                        <input type="radio" name="module_art_ask_price_phone"  value="2" {% if module_art_ask_price_phone == 2 %} checked="checked" {% endif %} />
			            			</td>
			            			<td class="text-center">
				                        <input type="radio" name="module_art_ask_price_phone"  value="1" {% if module_art_ask_price_phone == 1 %} checked="checked" {% endif %}  />
			            			</td>
			            			<td class="text-center">
				                        <input type="radio" name="module_art_ask_price_phone"  value="0" {% if module_art_ask_price_phone == 0 %} checked="checked" {% endif %} />
			            			</td>
			            			{# <td class="text-center">
			            				<input class="col-xs-12" type="number" min="0" name="module_art_ask_price_sort_phone" value="{{ module_art_ask_price_sort_phone }}">
			            			</td> #}
			            			<td>
			            				<input class="col-xs-12" type="text" name="module_art_ask_price_text_phone" value="{{ module_art_ask_price_text_phone }}" placeholder="{{ entry_phone }}">
			            			</td>
			            		</tr>
			            		<tr>
			            			<td>{{ entry_email }}</td>
			            			<td class="text-center">
				                        <input type="radio" name="module_art_ask_price_email"  value="2" {% if module_art_ask_price_email == 2 %} checked="checked" {% endif %}/>
			            			</td>
			            			<td class="text-center">
				                        <input type="radio" name="module_art_ask_price_email"  value="1" {% if module_art_ask_price_email == 1 %} checked="checked" {% endif %} />
			            			</td>
			            			<td class="text-center">
				                        <input type="radio" name="module_art_ask_price_email"  value="0" {% if module_art_ask_price_email == 0 %} checked="checked" {% endif %} />
			            			</td>
			            			{# <td class="text-center">
			            				<input class="col-xs-12" type="number" min="0" name="module_art_ask_price_sort_email" value="{{ module_art_ask_price_sort_email }}">
			            			</td> #}
			            			<td class="text-center">
			            				<input class="col-xs-12" type="text" name="module_art_ask_price_text_email" value="{{ module_art_ask_price_text_email }}" placeholder="{{ entry_email }}">
			            			</td>
			            		</tr>
			            		<tr>
			            			<td>{{ entry_comment }}</td>
			            			<td class="text-center">
				                        <input type="radio" name="module_art_ask_price_comment"  value="2" {% if module_art_ask_price_comment == 2 %} checked="checked" {% endif %} />
			            			</td>
			            			<td class="text-center">
				                        <input type="radio" name="module_art_ask_price_comment"  value="1" {% if module_art_ask_price_comment == 1 %} checked="checked" {% endif %} />
			            			</td>
			            			<td class="text-center">
				                        <input type="radio" name="module_art_ask_price_comment"  value="0" {% if module_art_ask_price_comment == 0 %} checked="checked" {% endif %} />
			            			</td>
			            			{# <td class="text-center">
			            				<input class="col-xs-12" type="number" min="0" name="module_art_ask_price_sort_comment" value="{{ module_art_ask_price_sort_comment }}">
			            			</td> #}
			            			<td class="text-center">
			            				<input class="col-xs-12" type="text" name="module_art_ask_price_text_comment" value="{{ module_art_ask_price_text_comment }}" placeholder="{{ entry_comment }}">
			            			</td>
			            		</tr>
			            		<tr>
			            			<td>{{ entry_personal_data }}</td>
			            			<td class="text-center">
				                        <input type="radio" name="module_art_ask_price_personal_data"  value="2" {% if module_art_ask_price_personal_data == 2 %} checked="checked" {% endif %} />
			            			</td>
			            			<td></td>
			            			<td class="text-center">
				                        <input type="radio" name="module_art_ask_price_personal_data"  value="0" {% if module_art_ask_price_personal_data == 0 %} checked="checked" {% endif %}/>
			            			</td>
			            			{# <td class="text-center">
			            				<input class="col-xs-12" type="number" min="0" name="module_art_ask_price_sort_personal_data" value="{{ module_art_ask_price_sort_personal_data }}">
			            			</td> #}
			            			<td class="text-center">
			            				<input class="col-xs-12" type="text" name="module_art_ask_price_text_personal_data" value="{{ module_art_ask_price_text_personal_data }}" placeholder="{{ entry_personal_data }}">
			            			</td>
			            		</tr>
			            	</table>
					    </div>
				  	</div>
				  	<div class="tab-pane" id="tab-support">
		              <div class="panel-body">
		                <div class="panel-body">
		                <h3>{{ text_help_module }} <a href="mailto:serfbots@gmail.com"><b>serfbots@gmail.com</b></a></h4>
		                <div class="alert bg-info">
		                  <b>{{ text_author }}</b>
		                </div>
		                <h4><strong>{{ text_service_module }}</strong></h4>
		                <hr>
		                <h4>{{ text_service_web }} <a href="https://cmsshop.com.ua/" target="_blank"><b>cmsshop.com.ua</b></a></h4>
		                <hr>
		                <h4>{{ text_service_telegram }} <a href="https://telegrambot.com.ua/" target="_blank"><b>telegrambot.com.ua</b></a></h4>
		                <hr>
		                <h4>{{ text_service_seo }} <strong><a href="mailto:velmob3@gmail.com">velmob3@gmail.com</a></strong> Telegram: <a href="https://t.me/santta223" target="_blank">@santta223</a></h4>  
		                </ul>
		              </div>
		            </div>
			    </div>	
		   	</form>
		  </div>
		</div>
	</div>
</div>
<script>
	$('#button-delete').on('click', function(e) {
	  $('#form-art_ask_price').attr('action', $(this).attr('data-submit'));
	  
	  if (confirm('{{ text_confirm }}')) {
	    $('#form-art_ask_price').submit();
	  } else {
	    return false;
	  }
	});
</script>
{{ footer }}