{% extends 'revolution/template/product/partials/base.twig' %}

{% block container_schema %}{% endblock %}
{% block content %}

  <div class="row" itemscope itemtype="http://schema.org/Product">
    <meta itemprop="name" content="{{ heading_title }}"/>
    <meta itemprop="category" content="{{ breadcrumbsbreadcrumbs-2['text'] }}"/>

    {% if (column_left or column_right) %}
      {% set class2 = 'col-sm-9 col-md-6' %}
      {% set class3 = 'col-sm-12 col-md-6' %}
    {% else %}
      {% set class2 = 'col-sm-12 col-md-5' %}
      {% set class3 = 'col-sm-12 col-md-7' %}
    {% endif %}

    <div class="{{ class2 }}">
		  {% include 'revolution/template/product/partials/stickers.twig' with {'main_product': 'true'} %}
		  {% include 'revolution/template/product/partials/product_images.twig' %}
    </div>

    <div class="{{ class3 }}">
      {% include 'revolution/template/product/partials/product_info_header.twig' %}
      {% include 'revolution/template/product/partials/product_attributes.twig' %}

      <div class="well well-sm product-info product_informationss">
      	{% include 'revolution/template/product/partials/product_options.twig' %}
        {% include 'revolution/template/product/partials/product_price.twig' %}
      	{% include 'revolution/template/product/partials/product_text_blocks.twig' %}
			  {% include 'revolution/template/product/partials/stock_status.twig' with {'main_product': 'true'} %}
			</div>

			{% include 'revolution/template/product/partials/product_accessories.twig' %}
    </div>
		
		{% include 'revolution/template/product/partials/product_tabs.twig' %}
		  

  </div>  
      
  {{ content_bottom }} 

	{% include 'revolution/template/product/partials/viewed_products.twig' %}

	{% if tags %}
		<p>{{ text_tags }}
		{% for i in 0..tags|length %}
		  {% if i < (tags|length - 1) %} <a href="{{ tags[i].href }}">{{ tags[i].tag }}</a>,
		  {% else %} <a href="{{ tags[i].href }}">{{ tags[i].tag }}</a>
		  {% endif %}
	  {% endfor %} </p>
	{% endif %}


	{% include 'revolution/template/product/partials/related_products.twig' %}

	<div class="share_icon_callbtn triggerbtn">
	test
	</div> 
{% endblock %}
