<ul class="{{ ul_class }}">
	<li>
	  <a class="{{ link_class }}" href="tel:{{ (header_phone_cod ~ header_phone_number)|replace({' ': '', '-': '', '(': '', ')': ''}) }}"
        rel="nofollow">{{ header_phone_cod ~ header_phone_number }}
	  </a>
	</li>

	{% for contact in dop_contacts %} 
		<li>
		  <a class="{{ link_class }}" href="{{ contact.href }}"><span>{{ contact.number }}</span></a>
		</li>
	{% endfor %} 

	<li>
	  <a class="{{ link_class }} phone-show-popup" data-action="open-popup-call">Обратный звонок</a>
	</li>

	{% if (phone_dop_text|length > 30) %} 
		<div class="phone_dop_text">{{ phone_dop_text }}</div>
	{% endif %} 

	{{ contacts_dop_content }}
</ul>
