<div class="number">
  <input name="product_id" value="{{ product_id }}" style="display: none;" type="hidden" />
  <div class="frame-change-count">
    <div class="btn-plus">
      <button type="button" data-action="quantity+{{ min_quantity }}">+</button>
    </div>
    <div class="btn-minus">
      <button type="button" data-action="quantity-{{ min_quantity }}">-</button>
    </div>
  </div>
  <input type="text" name="quantity" value="{{ quantity }}" class="plus-minus" onchange="update_manual(this, '{{ product['key'] }}', '{{ product['quantity_pr'] }}'); return validate(this);" onkeyup="update_manual(this, '{{ product['key'] }}', '{{ product['quantity_pr'] }}'); return validate(this);" />
</div>
