{% extends 'partials/base.twig' %}

{% block content %}

{% if error_warning %}
  <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
{% endif %}

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_form }}</h3>
  </div>

  <div class="panel-body">
    <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-homepage" class="form-horizontal">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#tab-main" data-toggle="tab">Общие</a></li>
        <li><a href="#tab-slideshow" data-toggle="tab">Слайдшоу</a></li>
        <li><a href="#tab-recommendations" data-toggle="tab">Рекомендуемые</a></li>
        <li><a href="#tab-related-categories" data-toggle="tab">Рекомендуемые категории</a></li>
        <li><a href="#tab-slider1" data-toggle="tab">Слайдер товаров 1</a></li>
        <li><a href="#tab-slider2" data-toggle="tab">Слайдер товаров 2</a></li>
        <li><a href="#tab-blog" data-toggle="tab">Виджет новостей</a></li>
        <li><a href="#tab-aboutstore" data-toggle="tab">О магазине</a></li>
        <li><a href="#tab-storereview" data-toggle="tab">Отзывы о магазине</a></li>
				<li><a href="#tab-viewed-products" data-toggle="tab">Просмотренные товары</a></li>
      </ul>

      <div class="tab-content">

				{# Общие #}
        <div class="tab-pane active" id="tab-main">
          {% include 'catalog/home/main.twig' %}
        </div>

				{# Слайдшоу #}
        <div class="tab-pane" id="tab-slideshow">
          {% include 'catalog/home/slideshow.twig' %}
        </div>

				{# Рекомендуемые (плитки) #}
			  <div class="tab-pane" id="tab-recommendations">
          {% include 'catalog/home/recommendations.twig' %}
			  </div>

				{# Рекомендуемые категории #}
			  <div class="tab-pane" id="tab-related-categories">
			    <div class="form-group">
          	{% include 'catalog/partials/related_categories.twig' %}
        	</div>
        </div>

				{# Слайдеры товаров #}
				<div class="tab-pane" id="tab-slider1">
          {% include 'catalog/home/tabslider.twig' with {'sliders': sliders_1, 'sliders_key': 'sliders_1'} %}
				</div>

				<div class="tab-pane" id="tab-slider2">
          {% include 'catalog/home/tabslider.twig' with {'sliders': sliders_2, 'sliders_key': 'sliders_2'} %}
				</div>

				{# Блог #}
        <div class="tab-pane" id="tab-blog">
          {% include 'catalog/home/blog.twig' %}
        </div>

				{# О магазине #}
        <div class="tab-pane" id="tab-aboutstore">
          {% include 'catalog/home/aboutstore.twig' %}
        </div>

				{# Отзывы о магазине #}
        <div class="tab-pane" id="tab-storereview">
          {% include 'catalog/home/storereview.twig' %}
        </div>

				{# Просмотренные товары #}
        <div class="tab-pane" id="tab-viewed-products">
          {% include 'catalog/home/viewed_products.twig' %}
        </div>

      </div>
    </form>
  </div>
</div>

  <!-- <link href="view/javascript/codemirror/lib/codemirror.css" rel="stylesheet" /> -->
  <!-- <link href="view/javascript/codemirror/theme/monokai.css" rel="stylesheet" /> -->
  <!-- <script type="text/javascript" src="view/javascript/codemirror/lib/codemirror.js"></script>  -->
  <!-- <script type="text/javascript" src="view/javascript/codemirror/lib/xml.js"></script>  -->
  <!-- <script type="text/javascript" src="view/javascript/codemirror/lib/formatting.js"></script>  -->
  <!--  -->
  <!-- <script type="text/javascript" src="view/javascript/summernote/summernote.js"></script> -->
  <!-- <link href="view/javascript/summernote/summernote.css" rel="stylesheet" /> -->
  <!-- <script type="text/javascript" src="view/javascript/summernote/summernote-image-attributes.js"></script> -->
  <!-- <script type="text/javascript" src="view/javascript/summernote/opencart.js"></script> -->
  
  <script type="text/javascript"><!--
$('input[name=\'path\']').autocomplete({
	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=catalog/category/autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				json.unshift({
					category_id: 0,
					name: '{{ text_none }}'
				});

				response($.map(json, function(item) {
					return {
						label: item['name'],
						value: item['category_id']
					}
				}));
			}
		});
	},
	'select': function(item) {
		$('input[name=\'path\']').val(item['label']);
		$('input[name=\'parent_id\']').val(item['value']);
	}
});
//--></script>
  <script type="text/javascript"><!--
$('input[name=\'filter\']').autocomplete({
	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=catalog/filter/autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['name'],
						value: item['filter_id']
					}
				}));
			}
		});
	},
	'select': function(item) {
		$('input[name=\'filter\']').val('');

		$('#category-filter' + item['value']).remove();

		$('#category-filter').append('<div id="category-filter' + item['value'] + '"><i class="fa fa-minus-circle"></i> ' + item['label'] + '<input type="hidden" name="category_filter[]" value="' + item['value'] + '" /></div>');
	}
});

// $('#category-filter').delegate('.fa-minus-circle', 'click', function() {
// 	$(this).parent().remove();
// });
//--></script>
<script type="text/javascript"><!--
$('input[name=\'product_related_input\']').autocomplete({
	source: function(request, response) {
		$.ajax({
			url: 'index.php?route=catalog/product/autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['name'],
						value: item['product_id']
					}
				}));
			}
		});
	},
	select: function(item) {
		$('input[name=\'product\']').val('');
		
		$('#product-related' + item['value']).remove();
		
		$('#product-related').append('<div id="product-related' + item['value'] + '"><i class="fa fa-minus-circle"></i> ' + item['label'] + '<input type="hidden" name="product_related[]" value="' + item['value'] + '" /></div>');	
	}
});
	
// $('#product-related').delegate('.fa-minus-circle', 'click', function() {
// 	$(this).parent().remove();
// });
//--></script>
<script type="text/javascript"><!--
$('input[name=\'article_related_input\']').autocomplete({
	source: function(request, response) {
		$.ajax({
			url: 'index.php?route=blog/article/autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['name'],
						value: item['article_id']
					}
				}));
			}
		});
	},
	select: function(item) {
		$('input[name=\'product\']').val('');
		
		$('#article-related' + item['value']).remove();
		
		$('#article-related').append('<div id="article-related' + item['value'] + '"><i class="fa fa-minus-circle"></i> ' + item['label'] + '<input type="hidden" name="article_related[]" value="' + item['value'] + '" /></div>');	
	}
});
	
$('form').delegate('.fa-minus-circle', 'click', function() {
	$(this).parent().remove();
});


//--></script>


<script> // Слайдеры
// Обработка изменения категории
$('.slider-category').change(function() {
  var index = $(this).data('index');
  var isFeatured = $(this).val() == 'featured';
  
  $('#featured-products-' + index).toggle(isFeatured);
  $('#manufacturer-block-' + index).toggle(!isFeatured);
});

// Автозаполнение товаров
$('.product-autocomplete').autocomplete({
    source: function(request, response) {
        var index = $(this.element).data('index');
        $.ajax({
            url: 'index.php?route=catalog/product/autocomplete&user_token={{ user_token }}&filter_name=' + encodeURIComponent(request),
            dataType: 'json',
            success: function(json) {
                response($.map(json, function(item) {
                    return {
                        label: item.name,
                        value: item.product_id
                    }
                }));
            }
        });
    },
    select: function(item) {
        var index = $(this).data('index');
        var sliderKey = $(this).data('slider-key');
        var productId = item.value;
        var container = $('#featured-product-' + index);
        
        // Проверяем, не добавлен ли уже товар
        if ($('#featured-product' + index + '-' + productId).length) {
            return false;
        }
        
        // Добавляем товар
        container.append(
            '<div class="' + (container.children().length % 2 ? 'even' : 'odd') + '">' +
                item.label + ' <i class="fa fa-minus-circle"></i>' +
                '<input type="hidden" name="' + sliderKey + '[featured][]" value="' + productId + '" />' +
            '</div>'
        );
        
        return false;
    }
});

</script>
{% endblock %}
