<ul class="breadcrumb">
  <li class="br_ellipses" style="display: none;">...</li>
  {% for i,breadcrumb in breadcrumbs %}
    {% if (i+1<breadcrumbs|length) %}
      <li>
        <a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a>
      </li>
      {% else %}
        <li>
          <span class="inbreadcrumb" itemprop="name">{{ breadcrumb['text'] }}</span>
        </li>
    {% endif %}
  {% endfor %}
</ul>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
    {% for breadcrumb in breadcrumbs %}
    {
      "@type": "ListItem",
      "position": {{ loop.index }},
      "name": "{{ breadcrumb.text|replace({'"': '\\"'}) }}",
      "item": "{{ breadcrumb.href }}"
    }{% if not loop.last %},{% endif %}
    {% endfor %}
  ]
}
</script>
