{# Просто плитка категорий #}
{% if (categories) %}
  <ul class="subcategory-container">
    {% for category in categories %}
      <li>
        <a class="subcategory" href="{{ category.href }}">
          {% if category.thumb %}
            <div class="subcategory-image">
              <img src="{{ category.thumb }}" title="{{ category.name }}" alt="{{ category.name }}" loading="lazy"/>
            </div>
          {% endif %}
          <span class="subcategory-title">{{ category.name }}</span>
        </a>
      </li>
    {% endfor %}
  </ul>
{% endif %}
