{# Картинка в маленькой карточке #}
{% if (img_slider) %}
  <div class="image owl-carousel owlproduct">
    <div class="item text-center">
      <a href="{{ product['href'] }}"><img src="{{ product['thumb'] }}" alt="{{ product['name'] }}" title="{{ product['name'] }}" loading="lazy" class="img-responsive {% if ((product['quantity'] < 1 and not zakaz) or (product['price_number'] == 0 and not zakaz_price_null)) %}zatemnenie_img{% endif %}" itemprop="image"/></a>
    </div>
    {% if (product['images']) %}
      {% for image in product['images'] %}
        <!--noindex-->
        <div class="item text-center">
          <a href="{{ product['href'] }}"><img src="{{ image['thumb'] }}" alt="{{ product['name'] }}" title="{{ product['name'] }}" loading="lazy" class="img-responsive {% if ((product['quantity'] < 1 and not zakaz) or (product['price_number'] == 0 and not zakaz_price_null)) %}zatemnenie_img{% endif %}" rel="nofollow"/></a>
        </div>
        <!--/noindex-->
      {% endfor %}
    {% endif %}
  </div>
{% else %}
  <a href="{{ product['href'] }}">
    <img src="{{ product['thumb'] }}" alt="{{ product['name'] }}" title="{{ product['name'] }}" loading="lazy" class="img-responsive {% if (product['quantity'] < 1) %}zatemnenie_img{% endif %}" itemprop="image"/>
  </a>
{% endif %}
