{% from 'macro/star_rating.twig' import star_rating %}

<meta itemprop="mpn" content="{{ model }}">

<ul class="product_list_top">
  {% if (manufacturer) %}
    <li>
      {{ text_manufacturer }}
      <a href="{{ manufacturers }}">
        <span itemprop="brand" itemscope itemtype="https://schema.org/Brand"><meta itemprop="name"/>{{ manufacturer }}</span>
      </a>
    </li>
  {% endif %}

  {% if (sku != '') %}
    <li>Артикул:<span>{{ sku }}</span></li>
  {% endif %}
</ul>

<div class="product_list_top2">
  <div class="product-info">
    {% include 'product/btns/compare.twig' with {'product_id': product_id} %}
  </div>

  <div class="rating">
    {{ star_rating(rating) }}
    <a class="adotted" data-action="scroll-to-reviews">({{ review_count }})</a>
  </div>
</div>

<script>
</script>
