<div class="form-group pokupka">
  {% if (zakaz_price_null or price > 0) %}
    {% if (share_status) %}
      {{ share_status_code }}
    {% endif %}

    {% if (price) %}
      {% if (price > 0) %}
        <div class="list-unstyled" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
          <meta itemprop="url" content="{{ breadcrumbs|last['href'] }}">
          {% if (special_end) %}
            <meta itemprop="priceValidUntil" content="{{ special_end }}">
          {% else %}
            <meta itemprop="priceValidUntil" content="{{ now|date_modify('+1 month')|date('Y-m-d') }}">
          {% endif %}
          {% if (not special_price) %}
            <span class="update_price">{{ price }} ₽</span>
            <span class="update_special dnone"></span>
            <meta itemprop="price" content="{{ price }}">
          {% else %}
            <span class="update_special price-new">{{ special_price }} ₽</span>
            <meta itemprop="price" content="{{ special_price }}">
            <span class="update_price price-old">{{ price }} ₽</span>
          {% endif %}
          <link itemprop="availability" href="http://schema.org/{{ quantity > 0?"InStock":"OutOfStock" }}" />
          <meta itemprop="priceCurrency" content="RUB">
        </div>
      {% else %}
        <div class="list-unstyled">{{ text_catalog_price_na_zakaz }}</div>
      {% endif %}
    {% endif %}

    {% if (price > 0 and quantity > 0) %}
      <div class="pop_left">
        <button type="button" id="button-cart" data-product-minimum="{{ minimum }}" data-action="cart-toggle" class="btn-cart product_{{ product_id }}" data-product-id="{{ product_id }}" data-action="product" data-loading-text="{{ text_loading }}" class="btn btn-primary btn-lg"><i class="fa fa-shopping-basket"></i>{{ button_cart }}</button>
      </div>
    {% else %}
      <div class="pop_left">
        <button type="button" id="button-cart" onclick="get_revpopup_predzakaz({{ product_id }});"><i class="fa fa-shopping-basket predzakaz"></i>{{ text_predzakaz }}</button>
      </div>
    {% endif %}

    <div class="pop_right">
      <a class="pop_ico" data-action="purchase" data-product-id="{{ product_id }}"><i class='fa fa-border fa-gavel'></i><span class="hidden-xs hidden-md">Купить в 1 клик</span></a>

      <a class="wishlist pjid_{{ product_id }}" data-action="wishlist-toggle" data-toggle="tooltip" data-product-id="{{ product_id }}" title="{{ button_wishlist }}">
        <i class="fa fa-border fa-heart"></i>
      </a>
    </div>
  {% endif %}
</div>

{% if (special_end) %}
  <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i>
		<span>{{ text_countdown }} {{ special_end|date('d.m.Y') }}</span>
  </div>
{% endif %}

{% if (discounts and not special) %} 
	<div class="discounts">
		{% for discount in discounts %} 
      <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i>
			  <span>{{ discount['quantity'] }}{{ text_discount }}{{ discount['price'] }}</span><br/>
      </div>
		{% endfor %} 
	</div>
{% endif %} 
