{% from 'macro/format.twig' import price_format %}

{% if (accessories) %}
  <div id="product_accessories">
    <div class="accessories-heading">{{ text_related }}</div>
    <div class="swiper swiper-carousel">
  	  <div class="swiper-wrapper">
        {% for product in accessories %}
          <div class="swiper-slide">
            <div class="accessories-thumb product-card" data-product-id="{{ product.product_id }}">
              <div class="accessories_title">
                <a href="{{ product.href }}" target="_blank">{{ product.name }}</a>
              </div>
              <div class="accessories_image">
                <img src="{{ product.thumb }}" alt="{{ product.name }}" class="img-responsive {% if (product.quantity < 1) %}zatemnenie_img{% endif %}" loading="lazy"/>
              </div>
              <div class="accessories_buttons">
                {% if (product.price and product.price > 0 and product.quantity > 0) %}
                  <button class="cart btn-cart" data-action="cart-toggle">{{ button_cart }}</button>
                  <div class="accessories-price">
                    {% if (not product.special_price) %}
                      {{ price_format(product.price) }}
                    {% else %}
                      <span class="price-new">{{ price_format(product['special_price']) }}</span>
                    {% endif %}
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endif %}
