
              {% if (options) %}
                {% if (revtheme_product_all['options_buy'] and options_buy) %}
                  <div class="options_buy">
                    <table class="table">
                      <thead>
                        <tr>
                          {% if (revtheme_product_all['options_buy_foto']) %}
                            <td class="text-left hidden-xs">
                              {{ text_foto_option }}
                            </td>
                          {% endif %}
                          <td class="text-left">
                            {% if (revtheme_product_all['options_buy_optionname_one']) %}
                              {% for option in options %}
                                {{ option['name'] }}
                              {% endfor %}
                            {% else %}
                              {{ text_option_option }}
                            {% endif %}
                          </td>
                          {% if (revtheme_product_all['options_buy_model']) %}
                            <td class="text-center options_buy_model">{{ text_model_option }}</td>
                          {% endif %}
                          <td class="text-center options_buy_price">{{ text_price_option }}</td>
                          {% if (revtheme_product_all['options_buy_quantity']) %}
                            <td class="text-center options_buy_dostupno">{{ text_dostupno_option }}</td>
                          {% endif %}
                          <td class="text-center options_buy_quantity">{{ text_quantity_option }}</td>
                          <td class="text-center"></td>
                        </tr>
                      </thead>
                      <tbody>
                        {% for option in options %}
                          {% if (revtheme_product_all['options_buy_optionname'] and not revtheme_product_all['options_buy_optionname_one']) %}
                            <tr>
                              {% if (not revtheme_product_all['options_buy_quantity']) %}
                                {% set colspan_option_name = 5 %}
                              {% elseif (not revtheme_product_all['options_buy_quantity'] and not revtheme_product_all['options_buy_quantity']) %}
                                {% set colspan_option_name = 4 %}
                              {% else %}
                                {% set colspan_option_name = 6 %}
                              {% endif %}
                              <td colspan="{{ colspan_option_name }}" class="text-left">
                                <b style="font-size:13px">{{ option['name'] }}:</b>
                              </td>
                            </tr>
                          {% endif %}
                          {% for option_value in option['product_option_value'] %}
                            {% if (option_value['price'] > 0 and option_value['quantity'] > 0) %}
                              <tr class="pro_{{ option_value['product_option_value_id'] }}">
                                <input type="hidden" name="option[{{ option['product_option_id'] }}]" value=""/>
                                {% if (revtheme_product_all['options_buy_foto']) %}
                                  <td class="text-left hidden-xs">
                                    {% if (option_value['image']) %}
                                      <img src="{{ option_value['image'] }}" alt="{{ option_value['name'] ~ option_value['price'] ? ' ' ~ option_value['price_prefix'] ~ option_value['price'] : '' }}" class="img-thumbnail img-responsive"/>
                                    {% endif %}
                                  </td>
                                {% endif %}
                                <td class="text-left">
                                  {% if (revtheme_product_all['options_buy_click']) %}
                                    <div class="radio">
                                      <label for="optb_{{ product_id }}_{{ option_value['product_option_value_id'] }}">
                                        <input data-action="update_options_buy" data-product-id="{{ product_id }}" data-option-id="{{ option['product_option_id'] }}" data-option="{{ option_value['product_option_value_id'] }}" type="radio" name="option_{{ product_id }}" value="{{ option_value['product_option_value_id'] }}" id="optb_{{ product_id }}_{{ option_value['product_option_value_id'] }}"/>
                                        <span class="options_buy_image_title">{{ option_value['name'] }}</span>
                                      </label>
                                    </div>
                                  {% else %}
                                    {{ option_value['name'] }}
                                  {% endif %}
                                </td>
                                {% if (revtheme_product_all['options_buy_model']) %}
                                  <td class="text-center options_buy_model">
                                    {% if (option_value['model']) %}
                                      {{ option_value['model'] }}
                                    {% else %}
                                      {{ model }}
                                    {% endif %}
                                  </td>
                                {% endif %}
                                <td class="text-center options_buy_price">
                                  {{ option_value['price'] }} ₽
                                </td>
                                {% if (revtheme_product_all['options_buy_quantity']) %}
                                  <td class="text-center options_buy_dostupno">
                                    {{ option_value['quantity'] }}
                                    {{ shtuki }}
                                    <input type="hidden" class="option_value_quantity" value='{{ minimum }}'>
                                  </td>
                                {% endif %}
                                <td class="text-center options_buy_quantity">
                                  <div class="number">
                                    <div class="frame-change-count">
                                      <div class="btn-plus">
                                        <button type="button" onclick="validate_pole_product_options(this,{{ option_value['product_option_value_id'] }},'+',{{ minimum }},{{ option_value['quantity'] }});">+</button>
                                      </div>
                                      <div class="btn-minus">
                                        <button type="button" onclick="validate_pole_product_options(this,{{ option_value['product_option_value_id'] }},'-',{{ minimum }},{{ option_value['quantity'] }});">-</button>
                                      </div>
                                    </div>
                                    <input type="text" name="quantity" class="plus-minus" value='{{ minimum }}' onchange="validate_pole_product_options(this,{{ option_value['product_option_value_id'] }},'=',{{ minimum }},{{ option_value['quantity'] }});" onkeyup="validate_pole_product_options(this,{{ option_value['product_option_value_id'] }},'=',{{ minimum }},{{ option_value['quantity'] }});">
                                  </div>
                                </td>
                                <td class="text-center">
                                  <div class="cart">
                                    <a onclick="get_revpopup_cart_option({{ option['product_option_id'] }},{{ option_value['product_option_value_id'] }},get_revpopup_cart_pr_option_quantity('{{ option_value['product_option_value_id'] }}'),{{ product_id }});return false;">
                                      <i class="fa fa-border fa-shopping-basket">
                                        <span class="prlistb hidden-xs hidden-md">{{ button_cart }}</span>
                                      </i>
                                    </a>
                                  </div>
                                </td>
                              </tr>
                            {% endif %}
                          {% endfor %}
                        {% endfor %}
                      </tbody>
                    </table>

					<script><!--
						function validate_pole_product_options (val, product_option_value_id, znak, minimumvalue, maximumvalue) {
							val.value = val.value.replace(/[^\d,]/g, '');
							if (val.value == '') val.value = minimumvalue;
							if (maximumvalue < 1) maximumvalue = 9999;
							input_val = $('.pro_'+product_option_value_id+' .plus-minus');
							quantity = parseInt(input_val.val());
							{% if (q_zavisimost) %} 
							if(znak=='+' && input_val.val() < maximumvalue) input_val.val(quantity+1);
							else if(znak=='-' && input_val.val() > minimumvalue) input_val.val(quantity-1);
							else if(znak=='=' && input_val.val() < maximumvalue && input_val.val() < maximumvalue) input_val.val(input_val.val());
							if (quantity < 1 || quantity < minimumvalue) {
								input_val.val(minimumvalue);
								val.value = minimumvalue;
							} else if (quantity > maximumvalue) {
								input_val.val(maximumvalue);
								val.value = maximumvalue;
							}
							{% else %} 
							if(znak=='+') input_val.val(quantity+1);
							else if(znak=='-' && input_val.val() > minimumvalue) input_val.val(quantity-1);
							else if(znak=='=' && input_val.val() > minimumvalue) input_val.val(input_val.val());
							if (quantity < 1 || quantity < minimumvalue) {
								input_val.val(minimumvalue);
								val.value = minimumvalue;
							}
							{% endif %} 
						}
						function get_revpopup_cart_pr_option_quantity (product_option_value_id) {
							input_val = $('.pro_'+product_option_value_id+' .plus-minus').val();
							quantity  = parseInt(input_val);
							return quantity;
						}
					//--></script>
				  </div>
			{% else %}
			<div class="options_no_buy">
  	  	  	  {% for option in options %}
    			{% if (option['type'] == 'select') %}
      	  	  	  <div class="form-group{{ option['required'] ? ' required' : '' }}">
        			<label class="control-label" for="input-option{{ option['product_option_id'] }}">{{ option['name'] }}:</label>
        			<select data-action="update_prices_product" data-product-id="{{ product_id }}" data-product-minimum="{{ minimum }}" name="option[{{ option['product_option_id'] }}]" id="input-option{{ option['product_option_id'] }}" class="form-control">
          	  	  	  <option value="">{{ text_select }}</option>
          	  	  	  {% for option_value in option['product_option_value'] %}
            			<option value="{{ option_value['product_option_value_id'] }}">{{ option_value['name'] }}
              	  	  	  {% if (opt_price) %}
                			{% if (option_value['price']) %}
                  	  	  	  <span class="option_price">({{ option_value['price_prefix'] }}{{ option_value['price'] }})</span>
                			{% endif %}
              	  	  	  {% endif %}
            			</option>
          	  	  	  {% endfor %}
        			</select>
      	  	  	  </div>
    			{% endif %}
    			{% if (option['type'] == 'radio') %}
      	  	  	  <div class="form-group{{ option['required'] ? ' required' : '' }}">
        			<label class="control-label">{{ option['name'] }}:</label>
        			<div id="input-option{{ option['product_option_id'] }}">
          	  	  	  {% for option_value in option['product_option_value'] %}
            			<div class="radio{% if (option['opt_image']) %} opt_with_img{% endif %}">
              	  	  	  {% if (option_value['model'] is defined and option_value['model'] matches '{http[s]{0,1}:}') %}
                			<input onchange="location='{{ option_value['model'] }}';" type="radio" name="option[{{ option['product_option_id'] }}]" value="{{ option_value['product_option_value_id'] }}" id="{{ option['product_option_id'] }}_{{ option_value['product_option_value_id'] }}"/>
              	  	  	  {% else %}
                			<input data-action="update_prices_product" data-product-id="{{ product_id }}" data-product-minimum="{{ minimum }}" type="radio" name="option[{{ option['product_option_id'] }}]" value="{{ option_value['product_option_value_id'] }}" id="{{ option['product_option_id'] }}_{{ option_value['product_option_value_id'] }}"/>
              	  	  	  {% endif %}
              	  	  	  <label {% if (option['opt_image']) %} data-toggle="tooltip" title="{{ option_value['name'] }}" {% endif %} class="btn btn-default {% if (option_value['image']) %}label-in-img{% endif %}" for="{{ option['product_option_id'] }}_{{ option_value['product_option_value_id'] }}">
                			{% if (option_value['image']) %}
                  	  	  	  <img src="{{ option_value['image'] }}" alt="{{ option_value['name'] ~ option_value['price'] ? ' ' ~ option_value['price_prefix'] ~ option_value['price'] : '' }}" class="img-thumbnail"/>
                  	  	  	  {% if (not option['opt_image']) %}
                    			{{ option_value['name'] }}
                  	  	  	  {% endif %}
                			{% else %}
                  	  	  	  <span>{{ option_value['name'] }}</span>
                			{% endif %}
                			{% if (option_value['price']) %}
                  	  	  	  <span class="option_price">{{ option_value['price_prefix'] }}{{ option_value['price'] }} ₽</span>
                			{% endif %}
                			<i class="fa fa-check"></i>
              	  	  	  </label>
            			</div>
          	  	  	  {% endfor %}
        			</div>
      	  	  	  </div>
    			{% endif %}
    			{% if (option['type'] == 'checkbox') %}
      	  	  	  <div class="form-group{{ option['required'] ? ' required' : '' }}">
        			<label class="control-label"></label>
        			<div id="input-option{{ option['product_option_id'] }}">
          	  	  	  {% for option_value in option['product_option_value'] %}
            			<div class="radio checkbox{% if (option['opt_image']) %} opt_with_img{% endif %}">

              	  	  	  <label {% if (option['opt_image']) %} data-toggle="tooltip" {% endif %} class="btn {% if (option_value['image']) %}label-in-img{% endif %}">
              	  	  	  <input data-action="update_prices_product" data-product-id="{{ product_id }}" data-product-minimum="{{ minimum }}" type="checkbox" name="option[{{ option['product_option_id'] }}][]" value="{{ option_value['product_option_value_id'] }}" />
                			<i class="fa fa-check"></i>
                			{% if (option_value['image']) %}
                  	  	  	  <img src="{{ option_value['image'] }}" alt="{{ option_value['name'] ~ option_value['price'] ? ' ' ~ option_value['price_prefix'] ~ option_value['price'] : '' }}" class="img-thumbnail"/>
                  	  	  	  {% if (not option['opt_image']) %}
                    			{{ option_value['name'] }}
                  	  	  	  {% endif %}
                			{% else %}
                  	  	  	  <span>{{ option_value['name'] }}</span>
                			{% endif %}
                			{% if (option_value['price']) %}
                  	  	  	  <span class="option_price">{{ option_value['price_prefix'] }}{{ option_value['price'] }} ₽</span>
                			{% endif %}
              	  	  	  </label>
            			</div>
          	  	  	  {% endfor %}
        			</div>
      	  	  	  </div>
    			{% endif %}
    			{% if (option['type'] == 'image') %}
      	  	  	  <div class="form-group{{ option['required'] ? ' required' : '' }}">
        			<label class="control-label">{{ option['name'] }}:</label>
        			<div id="input-option{{ option['product_option_id'] }}">
          	  	  	  {% for option_value in option['product_option_value'] %}
            			<div class="radio{% if (option['opt_image']) %} opt_with_img{% endif %}">
              	  	  	  <label {% if (option['opt_image']) %} data-toggle="tooltip" title="{{ option_value['name'] }}" {% endif %} class="btn btn-default {% if (option_value['image']) %}label-in-img{% endif %}" for="{{ option['product_option_id'] }}_{{ option_value['product_option_value_id'] }}">
              	  	  	  <input data-action="update_prices_product" data-product-id="{{ product_id }}" data-product-minimum="{{ minimum }}" type="radio" name="option[{{ option['product_option_id'] }}]" value="{{ option_value['product_option_value_id'] }}" id="{{ option['product_option_id'] }}_{{ option_value['product_option_value_id'] }}"/>
                			{% if (option_value['image']) %}
                  	  	  	  <img src="{{ option_value['image'] }}" alt="{{ option_value['name'] ~ option_value['price'] ? ' ' ~ option_value['price_prefix'] ~ option_value['price'] : '' }}" class="img-thumbnail"/>
                  	  	  	  {% if (not option['opt_image']) %}
                    			{{ option_value['name'] }}
                  	  	  	  {% endif %}
                			{% else %}
                  	  	  	  <span>{{ option_value['name'] }}</span>
                			{% endif %}
                			{% if (option_value['price']) %}
                  	  	  	  <span class="option_price">{{ option_value['price_prefix'] }}{{ option_value['price'] }} ₽</span>
                			{% endif %}
                			<i class="fa fa-check"></i>
              	  	  	  </label>
            			</div>
          	  	  	  {% endfor %}
        			</div>
      	  	  	  </div>
    			{% endif %}
    			{% if (option['type'] == 'text') %}
      	  	  	  <div class="form-group{{ option['required'] ? ' required' : '' }}">
        			<label class="control-label" for="input-option{{ option['product_option_id'] }}">{{ option['name'] }}:</label>
        			<input type="text" name="option[{{ option['product_option_id'] }}]" value="{{ option['value'] }}" placeholder="{{ option['name'] }}" id="input-option{{ option['product_option_id'] }}" class="form-control"/>
      	  	  	  </div>
    			{% endif %}
    			{% if (option['type'] == 'textarea') %}
      	  	  	  <div class="form-group{{ option['required'] ? ' required' : '' }}">
        			<label class="control-label" for="input-option{{ option['product_option_id'] }}">{{ option['name'] }}:</label>
        			<textarea name="option[{{ option['product_option_id'] }}]" rows="5" placeholder="{{ option['name'] }}" id="input-option{{ option['product_option_id'] }}" class="form-control">{{ option['value'] }}</textarea>
      	  	  	  </div>
    			{% endif %}
    			{% if (option['type'] == 'file') %}
      	  	  	  <div class="form-group{{ option['required'] ? ' required' : '' }}">
        			<label class="control-label">{{ option['name'] }}:</label>
        			<button type="button" id="button-upload{{ option['product_option_id'] }}" data-loading-text="{{ text_loading }}" class="btn btn-default btn-block">
          	  	  	  <i class="fa fa-upload"></i>
          	  	  	  {{ button_upload }}</button>
        			<input type="hidden" name="option[{{ option['product_option_id'] }}]" value="" id="input-option{{ option['product_option_id'] }}"/>
      	  	  	  </div>
    			{% endif %}
    			{% if (option['type'] == 'date') %}
      	  	  	  <div class="form-group{{ option['required'] ? ' required' : '' }}">
        			<label class="control-label" for="input-option{{ option['product_option_id'] }}">{{ option['name'] }}:</label>
        			<div class="input-group date">
          	  	  	  <input type="text" name="option[{{ option['product_option_id'] }}]" value="{{ option['value'] }}" data-date-format="YYYY-MM-DD" id="input-option{{ option['product_option_id'] }}" class="form-control"/>
          	  	  	  <span class="input-group-btn">
            			<button class="btn btn-default" type="button">
              	  	  	  <i class="fa fa-calendar"></i>
            			</button>
          	  	  	  </span>
        			</div>
      	  	  	  </div>
    			{% endif %}
    			{% if (option['type'] == 'datetime') %}
      	  	  	  <div class="form-group{{ option['required'] ? ' required' : '' }}">
        			<label class="control-label" for="input-option{{ option['product_option_id'] }}">{{ option['name'] }}:</label>
        			<div class="input-group datetime">
          	  	  	  <input type="text" name="option[{{ option['product_option_id'] }}]" value="{{ option['value'] }}" data-date-format="YYYY-MM-DD HH:mm" id="input-option{{ option['product_option_id'] }}" class="form-control"/>
          	  	  	  <span class="input-group-btn">
            			<button type="button" class="btn btn-default">
              	  	  	  <i class="fa fa-calendar"></i>
            			</button>
          	  	  	  </span>
        			</div>
      	  	  	  </div>
    			{% endif %}
    			{% if (option['type'] == 'time') %}
      	  	  	  <div class="form-group{{ option['required'] ? ' required' : '' }}">
        			<label class="control-label" for="input-option{{ option['product_option_id'] }}">{{ option['name'] }}:</label>
        			<div class="input-group time">
          	  	  	  <input type="text" name="option[{{ option['product_option_id'] }}]" value="{{ option['value'] }}" data-date-format="HH:mm" id="input-option{{ option['product_option_id'] }}" class="form-control"/>
          	  	  	  <span class="input-group-btn">
            			<button type="button" class="btn btn-default">
              	  	  	  <i class="fa fa-calendar"></i>
            			</button>
          	  	  	  </span>
        			</div>
      	  	  	  </div>
    			{% endif %}
  	  	  	  {% endfor %}
			</div>
			<hr>{% endif %}{% endif %}

			    {% if ((options and not revtheme_product_all['options_buy']) or not options_buy) %}
			      {% if (recurrings) %}
			        <hr>
			        <h3>{{ text_payment_recurring }}</h3>
			        <div class="form-group required">
  	  	  	    <select name="recurring_id" class="form-control">
    			        <option value="">{{ text_select }}</option>
    			        {% for recurring in recurrings %}
      	  	  	    <option value="{{ recurring['recurring_id'] }}">{{ recurring['name'] }}</option>
    			        {% endfor %}
  	  	  	    </select>
  	  	  	    <div class="help-block" id="recurring-description"></div>
			        </div>
				    {% endif %} 
			    {% endif %}				
