<meta itemprop="mpn" content="{{ model }}">

<ul class="product_list_top">
  {% if (manufacturer) %}
    <li>
      {{ text_manufacturer }}
      <a href="{{ manufacturers }}">
        <span itemprop="brand" itemscope itemtype="https://schema.org/Brand"><meta itemprop="name"/>{{ manufacturer }}</span>
      </a>
    </li>
  {% endif %}

  {% if (sku != '') %}
    <li>Артикул:<span>{{ sku }}</span></li>
  {% endif %}
</ul>

<div class="product_list_top2">
  <div class="product-info">
    {% include 'product/btns/compare.twig' with {'product_id': product_id} %}
  </div>

  <div class="rating">
    {% set i = 1 %}
    {% for i in i..5 %}
      {% if (rating < i) %}
        <span class="fa fa-stack">
          <i class="fa fa-star-o fa-stack-1x"></i>
        </span>
      {% else %}
        <span class="fa fa-stack">
          <i class="fa fa-star fa-stack-1x"></i>
          <i class="fa fa-star-o fa-stack-1x"></i>
        </span>
      {% endif %}
    {% endfor %}
    <a class="adotted" onclick="$('a[href=\'#tab-review\']').trigger('click'); $('html, body').animate({ scrollTop: $('a[href=\'#tab-review\']').offset().top - 2}, 250); return false;">{{ reviews }}</a>
  </div>
</div>
