{% from 'macro/format.twig' import price_format %}

<div class="compare_rating">
  {% include 'product/btns/compare.twig' with {'product_id': product.product_id} %}

  <div class="rating">
    <span{% if product.rating %} itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating"{% endif %}>
      {% if product.rating %}
        <meta itemprop="worstRating" content="1">
        <meta itemprop="bestRating" content="5">
        <meta itemprop="ratingValue" content="{{ product.rating }}">
        <meta itemprop="reviewCount" content="{{ product.reviews }}">
      {% endif %}
      <span class="fa fa-stack">
        <i class="fa fa-star fa-stack-2x"></i>
        <i class="fa fa-star-o fa-stack-2x"></i>
      </span>
      <sup>({{ product.rating|default(0) }})</sup>
    </span>
  </div>
</div>

<div class="product_buttons">
  {% if product.price %}
    <div class="price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
      {% if product.price > 0 and product.quantity > 0 %}
        {% if not product.special_price %}
          <span>{{ price_format(product.price) }}</span>
          <meta itemprop="price" content="{{ product.price }}">
        {% else %}
          <span class="price-old">{{ price_format(product.price) }}</span>
          <span class="price-new">{{ price_format(product.special_price) }}</span>
          <meta itemprop="price" content="{{ product.special_price }}">
        {% endif %}
      {% else %}
        <span class="hidden"></span>
        <meta itemprop="price" content="{{ product.price }}">
      {% endif %}
      <meta itemprop="priceCurrency" content="RUB">
    </div>
  {% endif %}
  
  {% include 'product/btns/cart.twig' %}
</div>
