{% if (products) %}

{#}
  {% if ocfilter_description_top %}
    <div class="ocf-description ocf-description-top">{{ ocfilter_description_top }}</div>
  {% endif %}
{#}

  {% if ocfilter_pages.top %}
    <nav class="ocf-page-list-top ocf-clearfix">
      <ul class="ocf-category-page-list">
        {% for ocfilter_page_group in ocfilter_pages.top %}
          {% for ocfilter_page in ocfilter_page_group.pages %}
            {% if ocfilter_page.selected %}
              <li class="ocf-page-selected"><a href="{{ ocfilter_page.href }}">{{ ocfilter_page.name }}</a></li>
            {% else %}
              <li><a href="{{ ocfilter_page.href }}">{{ ocfilter_page.name }}</a></li>
            {% endif %}
          {% endfor %}
        {% endfor %}
      </ul>
    </nav>
  {% endif %}

  <meta itemprop="numberOfItems" content="{{ products|length }}"/>
  {% if not not_sort_line %}
    {% include 'revolution/template/product/partials/sort_line.twig' %}
  {% endif %}

  <ul class="products__list">
    {% for product in products %}
      <li>
        {% include 'product/card.twig' with {'img_eager_load': loop.indes <= 4} %}
      </li>
    {% endfor %}
  </ul>

  {% include 'revolution/template/product/partials/pagination.twig' %}
{% endif %}
