<div style="margin: 3rem 0;">
	<div class="heading_h"><h3>{{ title }}</h3>{% if (button_all) %}<a href="{{ keyword }}">{{ button_all_text }}</a>{% endif %}</div>

  <div class="row">
    <div class="swiper swiper-carousel">
      <div class="swiper-wrapper" style="height: 100%;">
			{% for review in reviews %} 
        <div class="swiper-slide">
					<a class="review__thumb" href="{{ review['product_href'] }}">
					  <div class="review__product-image">
              <img src="{{ review['product_image'] }}" alt="{{ review['product_name'] }}" title="{{ review['product_name'] }}" class="img-responsive" rel="nofollow"/>
						</div>

            <h4 class="review__product-name">
              {{ review['product_name'] }}
            </h4>
					  <div class="review__text">
					    {{ review['text'] }}
						</div>
						<div class="review__author">
              <div class="review__author-avatar">
                <i class="fa fa-user-circle"></i> <!-- Font Awesome иконка -->
              </div>
						  <div class="review__author-box">
						    <div class="review__author-name">
					  	    {{ review['author'] }}
						    </div>
						    <div class="rating">
							    {% set i = 1 %}{% for i in i..5 %} 
								    {% if (review['rating'] < i) %} 
									    <!-- <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> -->
								    {% else %} 
									    <!-- <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span> -->
								    {% endif %} 
							    {% endfor %} 
						    </div>
              </div>
						</div>

						<div class="review__date_added">
							{{ review['date_added'] }}
						</div>
					</a>

        </div>
        {% endfor %} 
      </div>
    </div>
  </div>
</div>
