{% from 'macro/star_rating.twig' import star_rating %}

<div style="margin: 3rem 0;">
	<div class="heading_h"><h3>{{ title }}</h3>{% if (button_all) %}<a href="{{ keyword }}">{{ button_all_text }}</a>{% endif %}</div>

  <div class="row">
    <div class="swiper swiper-carousel">
      <div class="swiper-wrapper" style="height: 100%;">
			{% for review in reviews %} 
        <div class="swiper-slide">
					<a class="review__thumb" href="{{ review.product_href }}">
					  <div class="review__product-image">
              <img src="{{ review.product_image }}" alt="{{ review.product_name }}" title="{{ review.product_name }}" class="img-responsive" rel="nofollow" loading="lazy" />
						</div>

            <h4 class="review__product-name">{{ review.product_name }}</h4>
					  <div class="review__text">{{ review.text }}</div>
						<div class="review__author">
              <div class="review__author-avatar">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16"><path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/><path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/></svg>
              </div>
						  <div class="review__author-box">
						    <div class="review__author-name">{{ review.author }}</div>
						    <div class="rating">
						      {{ star_rating(review.rating, 10) }}
						    </div>
              </div>
						</div>

						<div class="review__date_added">{{ review.date_added }}</div>
					</a>

        </div>
        {% endfor %} 
      </div>
    </div>
  </div>
</div>
