<div class="sortline">
  <div class="row g-5">
    <div class="sortline-group">
      <label class="sortline-group-text">Сортировка:</label>
      <select id="input-sort" class="" onchange="location = this.value;">
        {% for sorts in sorts %}
          {% if sorts.value == '%s-%s'|format(sort, order) %}
            <option value="{{ sorts.href }}" selected="selected">{{ sorts.text }}</option>
          {% else %}
            <option value="{{ sorts.href }}">{{ sorts.text }}</option>
          {% endif %}
        {% endfor %}
      </select>
    </div>

    <div class="sortline-group">
      <label class="sortline-group-text">Показать:</label>
      <select id="input-limit" class="" onchange="location = this.value;">
        {% for limits in limits %}
          {% if (limits['value'] == limit) %}
            <option value="{{ limits['href'] }}" selected="selected">{{ limits['text'] }}</option>
          {% else %}
            <option value="{{ limits['href'] }}">{{ limits['text'] }}</option>
          {% endif %}
        {% endfor %}
      </select>
    </div>
  </div>
</div>
