<div class="sortline">
  <div class="row">
    <div class="sortline-group">
      <label class="sortline-group-text">Сортировка:</label>
      <select id="input-sort" class="" onchange="location = this.value;">
        {% for sorts in sorts %}
          {% if sorts.value == '%s-%s'|format(sort, order) %}
            <option value="{{ sorts.href }}" selected="selected">{{ sorts.text }}</option>
          {% else %}
            <option value="{{ sorts.href }}">{{ sorts.text }}</option>
          {% endif %}
        {% endfor %}
      </select>
    </div>

    <div class="ocf-btn-mobile-static ocf-mobile" style="display: none;">
      <button type="button" class="ocf-btn ocf-btn-default" data-ocf="mobile"><span class="ocf-btn-name">{{ button_ocfilter_mobile }}</span> <i class="ocf-icon ocf-icon-16 ocf-brand ocf-sliders"></i></button>
    </div>
{#}
    <div class="sortline-group">
      <label class="sortline-group-text">Показать:</label>
      <select id="input-limit" class="" onchange="location = this.value;">
        {% for limits in limits %}
          {% if (limits['value'] == limit) %}
            <option value="{{ limits['href'] }}" selected="selected">{{ limits['text'] }}</option>
          {% else %}
            <option value="{{ limits['href'] }}">{{ limits['text'] }}</option>
          {% endif %}
        {% endfor %}
      </select>
    </div>
{#}
  </div>
</div>
