<div class="stiker_panel">
  {% set item = main_product is defined ? _context : product %}

  {% if (item.quantity > 0 and item.price != 0 and item.special) %}
    {% set discount_percent = ((item.price - item.special) / item.special * 100)|round %}
    <span class="stiker stiker_spec">{{ '- ' ~ discount_percent ~ '%' }}</span>
  {% endif %}

  {% if (item.stiker_best) %}
    <span class="stiker stiker_best">{{ text_catalog_stiker_best }}</span>
  {% endif %}
  {% if (item.stiker_last) %}
    <span class="stiker stiker_last">{{ text_catalog_stiker_last }}</span>
  {% endif %}
  {% if (item.stiker_upc) %}
    <span class="stiker stiker_user1">{{ item.stiker_upc }}</span>
  {% endif %}
  {% if (item.stiker_ean) %}
    <span class="stiker stiker_user2">{{ item.stiker_ean }}</span>
  {% endif %}
  {% if (item.stiker_jan) %}
    <span class="stiker stiker_user3">{{ item.stiker_jan }}</span>
  {% endif %}
  {% if (item.stiker_isbn) %}
    <span class="stiker stiker_user4">{{ item.stiker_isbn }}</span>
  {% endif %}
  {% if (item.stiker_mpn) %}
    <span class="stiker stiker_user5">{{ item.stiker_mpn }}</span>
  {% endif %}

  </div>
