<div class="row">
	<input type="hidden" name="fax" value="" />
	<input type="hidden" name="company" value="" />
	<input type="hidden" name="address_2" value="" />

	{% include 'partials/form.twig' %}

	{% if (custom_fields is defined) %} 
		{% for custom_field in custom_fields %} 
			{% if (custom_field['location'] == 'account') %} 
				{% if (custom_field['type'] == 'select') %} 
					<div class="form-group{{ custom_field['required'] ? ' required' : '' }} custom-field">
						<label class="col-xs-5 t-ar control-label" for="input-custom-field{{ custom_field['custom_field_id'] }}">{{ custom_field['name'] }}:</label>
						<div class="col-xs-7">
							<select name="custom_field[account][{{ custom_field['custom_field_id'] }}]" id="input-custom-field{{ custom_field['custom_field_id'] }}" class="form-control">
								<option value="">{{ text_select }}</option>
								{% for custom_field_value in custom_field['custom_field_value'] %} 
									<option value="{{ custom_field['name']~': '~custom_field_value['name'] }}">{{ custom_field_value['name'] }}</option>
								{% endfor %} 
							</select>
						</div>
					</div>
				{% endif %} 
				{% if (custom_field['type'] == 'radio') %} 
					<div class="form-group{{ custom_field['required'] ? ' required' : '' }} custom-field">
						<label class="col-xs-5 t-ar control-label" for="input-custom-field{{ custom_field['custom_field_id'] }}">{{ custom_field['name'] }}:</label>
						<div class="col-xs-7">
							<div id="input-custom-field{{ custom_field['custom_field_id'] }}">
								{% for custom_field_value in custom_field['custom_field_value'] %} 
									<div class="radio">
										<label class="input"><input type="radio" name="custom_field[account][{{ custom_field['custom_field_id'] }}]" value="{{ custom_field_value['custom_field_value_id'] }}" /><span>{{ custom_field_value['name'] }}</span></label>
									</div>
								{% endfor %} 
							</div>
						</div>
					</div>
				{% endif %} 
				{% if (custom_field['type'] == 'checkbox') %} 
					<div class="form-group{{ custom_field['required'] ? ' required' : '' }} custom-field">
						<label class="col-xs-5 t-ar control-label" for="input-custom-field{{ custom_field['custom_field_id'] }}">{{ custom_field['name'] }}:</label>
						<div class="col-xs-7">
							<div id="input-custom-field{{ custom_field['custom_field_id'] }}">
								{% for custom_field_value in custom_field['custom_field_value'] %} 
									<div class="checkbox">
										<label class="input"><input type="checkbox" name="custom_field[account][{{ custom_field['custom_field_id'] }}][]" value="{{ custom_field['name']~': '~custom_field_value['name'] }}" /><span>{{ custom_field_value['name'] }}</span></label>
									</div>
								{% endfor %} 
							</div>
						</div>
					</div>
				{% endif %} 
				{% if (custom_field['type'] == 'text') %} 
					<div class="form-group{{ custom_field['required'] ? ' required' : '' }} custom-field">
						<label class="col-xs-5 t-ar control-label" for="input-custom-field{{ custom_field['custom_field_id'] }}">{{ custom_field['name'] }}:</label>
						<div class="col-xs-7">
							<input type="text" name="custom_field[account][{{ custom_field['custom_field_id'] }}]" value="" placeholder="{{ custom_field['value'] }}" id="input-custom-field{{ custom_field['custom_field_id'] }}" class="form-control" {% if (custom_field['mask']) %} data-mask="{{ custom_field['mask'] }}" {% endif %} />
						</div>
					</div>
				{% endif %} 
				{% if (custom_field['type'] == 'textarea') %} 
					<div class="form-group{{ custom_field['required'] ? ' required' : '' }} custom-field">
						<label class="col-xs-5 t-ar control-label" for="input-custom-field{{ custom_field['custom_field_id'] }}">{{ custom_field['name'] }}:</label>
						<div class="col-xs-7">
							<textarea name="custom_field[account][{{ custom_field['custom_field_id'] }}]" rows="3" id="input-custom-field{{ custom_field['custom_field_id'] }}" class="form-control" placeholder="{{ custom_field['value'] }}" {% if (custom_field['mask']) %} data-mask="{{ custom_field['mask'] }}" {% endif %}></textarea>
						</div>
					</div>
				{% endif %} 
				{% if (custom_field['type'] == 'file') %} 
					<div class="form-group{{ custom_field['required'] ? ' required' : '' }} custom-field">
						<label class="col-xs-5 t-ar control-label" for="input-custom-field{{ custom_field['custom_field_id'] }}">{{ custom_field['name'] }}:</label>
						<div class="col-xs-7">
							<button type="button" id="button-shipping-custom-field{{ custom_field['custom_field_id'] }}" class="btn btn-default"><i class="fa fa-upload"></i> {{ button_upload }}</button>
							<input type="hidden" name="custom_field[account][{{ custom_field['custom_field_id'] }}]" value="{{ custom_field['value'] }}" id="input-custom-field{{ custom_field['custom_field_id'] }}" />
						</div>
					</div>
				{% endif %} 
				{% if (custom_field['type'] == 'date') %} 
					<div class="form-group{{ custom_field['required'] ? ' required' : '' }} custom-field">
						<label class="col-xs-5 t-ar control-label" for="input-custom-field{{ custom_field['custom_field_id'] }}">{{ custom_field['name'] }}:</label>
						<div class="col-xs-7">
							<input type="date" name="custom_field[account][{{ custom_field['custom_field_id'] }}]" value="{{ custom_field['value'] }}" id="input-custom-field{{ custom_field['custom_field_id'] }}" class="form-control" />
						</div>
					</div>
				{% endif %} 
				{% if (custom_field['type'] == 'datetime') %} 
					<div class="form-group{{ custom_field['required'] ? ' required' : '' }} custom-field">
						<label class="col-xs-5 t-ar control-label" for="input-custom-field{{ custom_field['custom_field_id'] }}">{{ custom_field['name'] }}:</label>
						<div class="col-xs-7">
							<input type="datetime-local" name="custom_field[account][{{ custom_field['custom_field_id'] }}]" value="{{ custom_field['value'] }}" id="input-custom-field{{ custom_field['custom_field_id'] }}" class="form-control" />
						</div>
					</div>
				{% endif %} 
				{% if (custom_field['type'] == 'time') %} 
					<div class="form-group{{ custom_field['required'] ? ' required' : '' }} custom-field">
						<label class="col-xs-5 t-ar control-label" for="input-custom-field{{ custom_field['custom_field_id'] }}">{{ custom_field['name'] }}:</label>
						<div class="col-xs-7">
							<input type="time" name="custom_field[account][{{ custom_field['custom_field_id'] }}]" value="{{ custom_field['value'] }}" id="input-custom-field{{ custom_field['custom_field_id'] }}" class="form-control" />
						</div>
					</div>
				{% endif %} 
			{% endif %} 
		{% endfor %} 
	{% endif %} 
</div>
