<div id="top2">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-3">
				<div id="logo">
					{% if (logo) %} 
					{% if (home == og_url) %} 
						<img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive" />
					{% else %} 
						<a href="{{ home }}"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive" /></a>
					{% endif %} 
					{% else %} 
					<a href="{{ home }}">{{ name }}</a>
					{% endif %} 
				</div>
			</div>

			<div class="bigsearch col-xs-12 col-sm-4 col-md-4">{{ search }}</div>
			{% if (header_phone_number != '' or header_phone_text != '') %} 
				<div class="col-xs-12 col-sm-6 col-md-3 pull-right">
					<div class="header_conts t-ar">
						<div class="tel">
							<div class="header_phone_nomer">
								{% if (header_phone_number != '') %} 
									<button type="button" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
										<span class="s22">
											{% if (header_phone_cod) %}<span class="telefon">{{ header_phone_cod }}</span>{% endif %} {{ header_phone_number }}
											<i class="fa fa-chevron-down"></i>
										</span>
									</button>
								{% endif %} 

								<ul class="dropdown-menu dropdown-menu-right dop_contss">
									<li><a href="tel:{{ (header_phone_cod ~ header_phone_number)|replace({' ': '', '-': '', '(': '', ')': ''}) }}" rel="nofollow">{{ header_phone_cod ~ header_phone_number }}</a></li>
										{% for contact in dop_contacts %} 
											<li><a href="{{ contact.href }}"><span>{{ contact.icon }}<span>{{ contact.number }}</span></span></a></li>
										{% endfor %} 
									<li><a onclick="get_revpopup_phone();"><i class="fa fa-reply-all" aria-hidden="true"></i>Обратный звонок</a></li>
									{% if (phone_dop_text|length > 30) %} 
										<div class="phone_dop_text">{{ phone_dop_text }}</div>
									{% endif %} 
								</ul>	
							</div>
						</div>
					</div>
				</div>
			{% endif %} 
		
		</div>
	</div>
</div>  
