<div id="top2" class="header__row top2">
<div class="header__logo">
					{% if (logo) %} 
					{% if (home == og_url) %} 
						<img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="" />
					{% else %} 
						<a href="{{ home }}"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="" /></a>
					{% endif %} 
					{% else %} 
					<a href="{{ home }}">{{ name }}</a>
					{% endif %} 
</div>

			<div class="bigsearch header__search">{{ search }}</div>

			{% if (header_phone_number != '' or header_phone_text != '') %} 
				<div class="header__group">
					<div class="header__action">
					<div class="dropdown">
								{% if (header_phone_number != '') %} 
									<button type="button" class="dropdown-toggle btn-phone header__action-btn" data-toggle="dropdown" aria-expanded="true">
										{% if (header_phone_cod) %}<span class="telefon">{{ header_phone_cod }}</span>{% endif %} {{ header_phone_number }}
									</button>
								{% endif %} 

								<ul class="dropdown-menu dropdown-menu-right dop_contss">
									<li><a href="tel:{{ (header_phone_cod ~ header_phone_number)|replace({' ': '', '-': '', '(': '', ')': ''}) }}" rel="nofollow">{{ header_phone_cod ~ header_phone_number }}</a></li>
										{% for contact in dop_contacts %} 
										{#}
											<li><a href="{{ contact.href }}"><span>{{ contact.icon }}<span>{{ contact.number }}</span></span></a></li>
											<i class="fa fa-reply-all" aria-hidden="true"></i>
										{#}
											<li><a href="{{ contact.href }}"><span>{{ contact.number }}</span></a></li>
										{% endfor %} 
									<li><a class="phone-show-popup">Обратный звонок</a></li>
									{% if (phone_dop_text|length > 30) %} 
										<div class="phone_dop_text">{{ phone_dop_text }}</div>
									{% endif %} 
								</ul>	</div>
							</div>
				</div>
			{% endif %} 
		
</div>  
