<div class="home__section">
  {% if (heading_title) %}<h3>{{ heading_title }}</h3>{% endif %} 
  <div class="row">
    <div class="swiper-container swiper-carousel">
      <div class="swiper-wrapper">
        {% for category in categories %} 
          <a class="swiper-slide shadow-box categories__item" href="{{ category.href }}">
            <div class="categories__item-image">
              <img src="{{ category.image }}" alt="{{ category.name }}" title="{{ category.name }}" class="img-responsive" />
            </div>
            <h4 class="categories__item-title">{{ category.name }}</h4>
          </a>
        {% endfor %} 
      </div>
    </div>
  </div>
</div>
