{% import "partials/base_modal.twig" as m %}

{% if (products) %} 

  {% set content %}
    <table class="display-products-cart">
      <tbody>
        {% for product in products %} 
        <tr>
          <td class="image">
            {% if (product['thumb']) %} 
            <a href="{{ product['href'] }}"><img src="{{ product['thumb'] }}" alt="{{ product['name'] }}" title="{{ product['name'] }}" class="img-thumbnail" /></a>
            {% endif %} 
          </td>
          <td class="name">
            <a href="{{ product['href'] }}">{{ product['name'] }}</a>
            {% if (not product['stock']) %} 
            <span class="text-danger">***</span>
            {% endif %} 
            {% if (product['option']) %} 
            {% for option in product['option'] %} 
            <br />
            {{ option['name'] }}: {{ option['value'] }} 
            {% endfor %} 
            {% endif %} 
            {% if (product['reward']) %} 
            <br />
            {{ product['reward'] }} 
            {% endif %} 
          </td>
          <td class="qt">
            <div class="number">
              <input name="product_id" value="{{ product['key'] }}" style="display: none;" type="hidden" />
              <div class="frame-change-count">
                <div class="btn-plus">
                  <button type="button" data-action="quantity+{{ product['quantity_pr'] }}">+</button>
                </div>
                <div class="btn-minus">
                  <button type="button" data-action="quantity-{{ product['quantity_pr'] }}">-</button>
                </div>
              </div>
              <input type="text" name="quantity" value="{{ product['quantity'] }}" class="plus-minus"  />
            </div>
          </td>
          <td class="totals">{{ product['total'] }}</td>
		  <td class="remove">
            <button type="button"><i class="fa fa-trash-o"></i></button>
            <input name="product_key" value="{{ product['key'] }}" style="display: none;" hidden />           
          </td>
        </tr>
        {% endfor %} 
      </tbody>
    </table>
    <div class="mobile-products-cart">
    {% for product in products %} 
      <div>
        <div class="image">
          {% if (product['thumb']) %} 
          <a href="{{ product['href'] }}"><img src="{{ product['thumb'] }}" alt="{{ product['name'] }}" title="{{ product['name'] }}" class="img-thumbnail" /></a>
          {% endif %} 
        </div>
        <div class="name">
          <a href="{{ product['href'] }}">{{ product['name'] }}</a>
          {% if (not product['stock']) %} 
          <span class="text-danger">***</span>
          {% endif %} 
          {% if (product['option']) %} 
          {% for option in product['option'] %} 
          <br />
          {{ option['name'] }}: {{ option['value'] }} 
          {% endfor %} 
          {% endif %} 
          {% if (product['reward']) %} 
          <br />
          {{ product['reward'] }} 
          {% endif %} 
        </div>
        <div class="qt">
          <div class="number">
              <input name="product_id" value="{{ product['key'] }}" style="display: none;" type="hidden" />
              <div class="frame-change-count">
                <div class="btn-plus">
                  <button type="button" data-action="quantity+{{ product['quantity_pr'] }}">+</button>
                </div>
                <div class="btn-minus">
                  <button type="button" data-action="quantity-{{ product['quantity_pr'] }}">-</button>
                </div>
              </div>
              <input type="text" name="quantity" value="{{ product['quantity'] }}" class="plus-minus" onchange="update_manual(this, '{{ product['key'] }}', '{{ product['quantity_pr'] }}'); return validate(this);" onkeyup="update_manual(this, '{{ product['key'] }}', '{{ product['quantity_pr'] }}'); return validate(this);" />
            </div>
			<span class="remove">
			  <button type="button" onclick="update(this, 'remove'); cart.remove('{{ product['key'] }}', '{{ product['product_id'] }}')"><i class="fa fa-trash-o"></i></button>
			  <input name="product_key" value="{{ product['key'] }}" style="display: none;" hidden />
			</span>
        </div>
        <div class="totals">
          {{ product['total'] }} 
        </div>		
        </div>
      {% endfor %} 
    </div>
    <div class="all-total">
      {% for total in totals %} 
		<div class="clear-total">
		<div class="totals-right">{{ total['text'] }}</div>
        <div class="totals-left">{{ total['title'] }}:</div>     
        </div>
      {% endfor %} 
    </div>    
  {% endset %}

  {% set footer %}
    <button class="continue-shopping" data-action="close">{{ button_shopping }}</button>
    <a href="{{ checkout_link }}">{{ button_checkout }}</a>
	  {% if (setting_header_cart['cart_quick']) %} 
		  <button class="quickorder_b btn btn-default btn-sm" data-action="quick-order">{{ text_rev_buy_quick }}</button>
	  {% endif %} 
  {% endset %}

  {{ m.popup(heading_cartpopup_titlem, attention, success, error_warning, content, footer) }}

{% else %} 
  {{ m.popup(heading_cartpopup_title_empty, attention, success, error_warning, text_cartpopup_empty, footer) }}
{% endif %} 
