{% import "partials/base_modal.twig" as m %}

{% set content %}
	<form method="post" enctype="multipart/form-data" id="purchase-form">
		<div class="payment-info">
			{% if (revtheme_header_popupphone['firstname']) %} 
				<div>
					<label>{% if (revtheme_header_popupphone['firstname'] == 2) %}<span class="required">*</span>{% endif %}{{ enter_firstname }}</label>
					<input name="firstname" value="{{ firstname }}" />
				</div>
			{% endif %} 
			{% if (revtheme_header_popupphone['telephone']) %} 
				<div>
					<label>{% if (revtheme_header_popupphone['telephone'] == 2) %}<span class="required">*</span>{% endif %}{{ enter_telephone }}</label>
					<input name="telephone" value="{{ telephone }}" {% if (telephone_mask) %} data-mask="{{ telephone_mask }}" {% endif %} />
				</div>
			{% endif %} 
			{% if (revtheme_header_popupphone['email']) %} 
				<div>
					<label>{% if (revtheme_header_popupphone['email'] == 2) %}<span class="required">*</span>{% endif %}{{ enter_email }}</label>
					<input name="email" value="{{ email }}" />
				</div>
			{% endif %} 
			{% if (revtheme_header_popupphone['comment']) %} 
				<div>
					<label>{% if (revtheme_header_popupphone['comment'] == 2) %}<span class="required">*</span>{% endif %}{{ enter_comment }}</label>
					<textarea name="comment">{{ comment }}</textarea>
				</div>
			{% endif %} 
		</div>
		{% if (text_agree_pol_konf) %} 
			<div class="rev_pol_konf pull-right text-right">
				<span>{{ text_agree_pol_konf }}</span>
				<input type="checkbox" name="agree_pol_konf" checked="checked" />
			</div>
		{% endif %} 
		<input type="hidden" value="" name="site_url" />
	</form>
{% endset %}

{% set footer %}
  <button class="continue-shopping" data-action="close">{{ button_shopping }}</button>
	<a id="popup-checkout-button" data-action="submit">{{ button_checkout }}</a>
{% endset %}


{{ m.popup(popupphone_heading_title, attention, success, error_warning, content, footer) }}

<script>
document.querySelector('input[name="site_url"]').value = window.location.href;
</script>
