<div id="revslideshow" class="swiper banners" style="opacity: 1;">
	<!-- Скелетон-заглушка -->
  <div class="skeleton-slide"></div>

  <div class="swiper-wrapper">
		{% if (home_slideshows) %} 

			{% for slide in home_slideshows %} 
      	<div class="swiper-slide">
					{% if (slide['title']) %} 
						<span class="home_slideshow_title" style="color:#{{ slide['title_color'] }}; font-size:{{ slide['title_fsize'] }}%; top:{{ slide['title_xpos'] }}; left:{{ slide['title_ypos'] }}">{{ slide['title'] }}</span>
					{% endif %} 

					{% if (slide['description']) %} 
						<span class="home_slideshow_description" style="color:#{{ slide['description_color'] }}; font-size:{{ slide['description_fsize'] }}%; top:{{ slide['description_xpos'] }}; left:{{ slide['description_ypos'] }}">{{ slide['description'] }}</span>
					{% endif %} 

					{% if (slide['link']) %} 
						<a class="home_slideshow_link{% if (slide['checkbox']) %} popup_html_content{% endif %}" href="{{ slide['link'] }}" style="color:#{{ slide['link_title_color'] }}; border: 1px solid #{{ slide['link_title_color'] }}; font-size:{{ slide['link_title_fsize'] }}%; top:{{ slide['link_title_xpos'] }}; left:{{ slide['link_title_ypos'] }}">{{ slide['link_title'] }}</a>
					{% endif %} 

					<img src="{{ slide['image'] }}" alt="{{ slide['title'] }}" class="img-responsive" />
      	</div>
    	{% endfor %}
		{% else %} 
			{% for banner in banners %} 
				<div class="item">
					{% if (banner['link']) %} 
						<a href="{{ banner['link'] }}"><img src="{{ banner['image'] }}" alt="{{ banner['title'] }}" class="img-responsive" /></a>
					{% else %} 
						<img src="{{ banner['image'] }}" alt="{{ banner['title'] }}" class="img-responsive" />
					{% endif %} 
				</div>
			{% endfor %} 
		{% endif %} 
	</div>
</div>
