<ul class="hometab hometabsliders nav nav-tabs">
	{% if (slider_1_status and products_slider_1) %} 
		<li><a href="#tab_slider_1" data-toggle="tab">{{ heading_title_slider_1 }}</a></li>
	{% endif %} 
	{% if (slider_2_status and products_slider_2) %} 
		<li><a href="#tab_slider_2" data-toggle="tab">{{ heading_title_slider_2 }}</a></li>
	{% endif %} 
	{% if (slider_3_status and products_slider_3) %} 
		<li><a href="#tab_slider_3" data-toggle="tab">{{ heading_title_slider_3 }}</a></li>
	{% endif %} 
	{% if (slider_4_status and products_slider_4) %} 
		<li><a href="#tab_slider_4" data-toggle="tab">{{ heading_title_slider_4 }}</a></li>
	{% endif %} 
	{% if (slider_5_status and products_slider_5) %} 
		<li><a href="#tab_slider_5" data-toggle="tab">{{ heading_title_slider_5 }}</a></li>
	{% endif %} 
	{% if (slider_6_status and products_slider_6) %} 
		<li><a href="#tab_slider_6" data-toggle="tab">{{ heading_title_slider_6 }}</a></li>
	{% endif %} 
	{% if (slider_7_status and products_slider_7) %} 
		<li><a href="#tab_slider_7" data-toggle="tab">{{ heading_title_slider_7 }}</a></li>
	{% endif %} 
	{% if (slider_8_status and products_slider_8) %} 
		<li><a href="#tab_slider_8" data-toggle="tab">{{ heading_title_slider_8 }}</a></li>
	{% endif %} 
</ul>
<div class="tab-content">

	{% if (slider_1_status and products_slider_1) %} 
		<div class="hometab_sliders_tab rev_slider tab-pane" id="tab_slider_1">
			<div class="row">
				<div id="slider_slider_1" class="owl-carousel">
      				{% include 'revolution/template/product/partials/carousel_product.twig' with {'products_slider': products_slider_1} %}
				</div>
			</div>

		<script><!--
    	{% include 'revolution/template/product/partials/carousel_settings.twig' with {'block': '#slider_slider_1',
			'slider': slider_1, 'autoscroll': autoscroll_slider_1, 'products_slider': products_slider_1, 'tab_btn': '#tab_slider_1'} %}
		//--></script>
		</div>
	{% endif %} 

	{% if (slider_2_status and products_slider_2) %} 
		<div class="hometab_sliders_tab rev_slider tab-pane" id="tab_slider_2">
			<div class="row">
				<div id="slider_slider_2" class="owl-carousel">
      				{% include 'revolution/template/product/partials/carousel_product.twig' with {'products_slider': products_slider_2} %}
				</div>
			</div>

		<script><!--
    	{% include 'revolution/template/product/partials/carousel_settings.twig' with {'block': '#slider_slider_2',
			'slider': slider_2, 'autoscroll': autoscroll_slider_2, 'products_slider': products_slider_2, 'tab_btn': '#tab_slider_2'} %}
		//--></script>
		</div>
	{% endif %} 

	{% if (slider_3_status and products_slider_3) %} 
		<div class="hometab_sliders_tab rev_slider tab-pane" id="tab_slider_3">
			<div class="row">
				<div id="slider_slider_3" class="owl-carousel">
      				{% include 'revolution/template/product/partials/carousel_product.twig' with {'products_slider': products_slider_3} %}
				</div>
			</div>

		<script><!--
    	{% include 'revolution/template/product/partials/carousel_settings.twig' with {'block': '#slider_slider_3',
			'slider': slider_3, 'autoscroll': autoscroll_slider_3, 'products_slider': products_slider_3, 'tab_btn': '#tab_slider_3'} %}
		//--></script>
		</div>
	{% endif %} 

	{% if (slider_4_status and products_slider_4) %} 
		<div class="hometab_sliders_tab rev_slider tab-pane" id="tab_slider_4">
			<div class="row">
				<div id="slider_slider_4" class="owl-carousel">
      				{% include 'revolution/template/product/partials/carousel_product.twig' with {'products_slider': products_slider_4} %}
				</div>
			</div>

		<script><!--
    	{% include 'revolution/template/product/partials/carousel_settings.twig' with {'block': '#slider_slider_4',
			'slider': slider_4, 'autoscroll': autoscroll_slider_4, 'products_slider': products_slider_4, 'tab_btn': '#tab_slider_4'} %}
		//--></script>
		</div>
	{% endif %} 

	{% if (slider_5_status and products_slider_5) %} 
		<div class="hometab_sliders_tab rev_slider tab-pane" id="tab_slider_5">
			<div class="row">
				<div id="slider_slider_5" class="owl-carousel">
      				{% include 'revolution/template/product/partials/carousel_product.twig' with {'products_slider': products_slider_5} %}
				</div>
			</div>

		<script><!--
    	{% include 'revolution/template/product/partials/carousel_settings.twig' with {'block': '#slider_slider_5',
			'slider': slider_5, 'autoscroll': autoscroll_slider_5, 'products_slider': products_slider_5, 'tab_btn': '#tab_slider_5'} %}
		//--></script>
		</div>
	{% endif %} 

	{% if (slider_6_status and products_slider_6) %} 
		<div class="hometab_sliders_tab rev_slider tab-pane" id="tab_slider_6">
			<div class="row">
				<div id="slider_slider_6" class="owl-carousel">
      				{% include 'revolution/template/product/partials/carousel_product.twig' with {'products_slider': products_slider_6} %}
				</div>
			</div>

		<script><!--
    	{% include 'revolution/template/product/partials/carousel_settings.twig' with {'block': '#slider_slider_6',
			'slider': slider_6, 'autoscroll': autoscroll_slider_6, 'products_slider': products_slider_6, 'tab_btn': '#tab_slider_6'} %}
		//--></script>
		</div>
	{% endif %} 

	{% if (slider_7_status and products_slider_7) %} 
		<div class="hometab_sliders_tab rev_slider tab-pane" id="tab_slider_7">
			<div class="row">
				<div id="slider_slider_7" class="owl-carousel">
      				{% include 'revolution/template/product/partials/carousel_product.twig' with {'products_slider': products_slider_7} %}
				</div>
			</div>

		<script><!--
    	{% include 'revolution/template/product/partials/carousel_settings.twig' with {'block': '#slider_slider_7',
			'slider': slider_7, 'autoscroll': autoscroll_slider_7, 'products_slider': products_slider_7, 'tab_btn': '#tab_slider_7'} %}
		//--></script>
		</div>
	{% endif %} 

	{% if (slider_8_status and products_slider_8) %} 
		<div class="hometab_sliders_tab rev_slider tab-pane" id="tab_slider_8">
			<div class="row">
				<div id="slider_slider_8" class="owl-carousel">
      				{% include 'revolution/template/product/partials/carousel_product.twig' with {'products_slider': products_slider_8} %}
				</div>
			</div>

		<script><!--
    	{% include 'revolution/template/product/partials/carousel_settings.twig' with {'block': '#slider_slider_8',
			'slider': slider_8, 'autoscroll': autoscroll_slider_8, 'products_slider': products_slider_8, 'tab_btn': '#tab_slider_8'} %}
		//--></script>
		</div>
	{% endif %} 

	<script><!--
    	{% include 'revolution/template/product/partials/carousel_scripts.twig' %}

		$('.hometabsliders li:first').addClass('active');
		$('.tab-content .hometab_sliders_tab:first').addClass('active');

		function price_format(n) {
			c = {{ currency['decimals'] is empty ? "0" : currency['decimals'] }};
			d = '{{ currency['decimal_point'] }}';
			t = '{{ currency['thousand_point'] }}';
			s_left = '{{ currency['symbol_left'] }}';
			s_right = '{{ currency['symbol_right'] }}';
			n = n * {{ currency['value'] }};
			i = parseInt(n = Math.abs(n).toFixed(c)) + ''; 
			j = ((j = i.length) > 3) ? j % 3 : 0; 
			return s_left + (j ? i.substr(0, j) + t : '') + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : '') + s_right; 
		}
		function weight_format(n, product_id) {
			c = 2;
			d = '.';
			t = ',';
			i = parseInt(n = Math.abs(n).toFixed(c)) + ''; 
			j = ((j = i.length) > 3) ? j % 3 : 0; 
			return (j ? i.substr(0, j) + t : '') + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : '');
		}
		function number_format(n, product_id) {
			i = parseInt(n = Math.abs(n).toFixed(0)) + ''; 
			return i;
		}
	//--></script>
</div>